/******************************** avatars ********************************/

.avatars {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 16;
}

.avatars__item {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
//	-webkit-perspective: 500px; /* Chrome, Safari, Opera */
//	perspective: 500px;
//	padding: 3px 0 0 3px;
	@include box-sizing(border-box);

	img {
		display: block;
		opacity: .5;
//		@include transform(skewY(4deg));
//		@include transform(rotateY(30deg));
		border: 2px solid rgba(#000, .7);

	}
}

@for $i from 1 through 7 {
	.avatars__item_#{$i} {
		background: url('/img/mainPage/avatars/ava_#{$i}.png');
		max-width: image-width('/mainPage/avatars/ava_#{$i}.png');
		max-height: image-height('/mainPage/avatars/ava_#{$i}.png');
	}
}

.avatars__item_1 {
		left: 29%;
		bottom: 27%;

		img {
			width: 119px;
			height: 152px;
			@include transform(rotateY(-14deg) rotateZ(3deg) rotateX(-4deg));
			@include border-radius(19px);
		}
}

.avatars__item_2 {
	left: 24%;
	bottom: 33%;

	img {
		width: 55px;
		height: 90px;
		@include transform(rotateY(39deg) rotateZ(-4deg) rotateX(-7deg));
		@include border-radius(10px);
	}
}

.avatars__item_3 {
	left: 39%;
	bottom: 37%;

	img {
		width: 40px;
		height: 55px;
		@include transform(rotateY(24deg) rotateZ(-4deg) rotateX(-3deg));
		@include border-radius(10px);
	}
}

.avatars__item_4 {
	left: 49%;
	bottom: 40%;

	img {
		width: 38px;
		height: 42px;
//		@include transform(rotateY(24deg) rotateZ(-4deg) rotateX(-3deg));
		@include border-radius(10px);
	}
}

.avatars__item_5 {
	left: 61.5%;
	bottom: 40%;

	img {
		width: 44px;
		height: 44px;
		//		@include transform(rotateY(24deg) rotateZ(-4deg) rotateX(-3deg));
		@include border-radius(10px);
	}
}

.avatars__item_6 {
	left: 71%;
	bottom: 36%;

	img {
		width: 26px;
		height: 53px;
		@include transform(rotateY(4deg) rotateZ(0deg) rotateX(9deg));
		@include border-radius(10px);
	}
}

.avatars__item_7 {
	left: 53%;
	bottom: 27%;
}

.avatars__play {

}