/******************************** common ********************************/

//colors
$white: #FFF;
$black: #000;
$blue_dark: #0F294C;
$blue_light: #0A3259;
$blue_lighten: #0067AD;
$green_light: #36A400;
$green_dark: #288600;
$grey_light: #728291;
$grey_dark: #404A59;

//fonts

@include font-face("Museo superLight", font-files("museo-100.woff", "museo-100.ttf", "museo-100.svg","museo-100.eot"));
@include font-face("Museo light", font-files("museo-300.woff", "museo-300.ttf", "museo-300.svg","museo-300.eot"));
@include font-face("Museo", font-files("museo-500.woff", "museo-500.ttf", "museo-500.svg","museo-500.eot"));
@include font-face("Museo bold", font-files("museo-700.woff", "museo-700.ttf", "museo-700.svg", "museo-700.eot"));
@include font-face("Museo superBold", font-files("museo-900.woff", "museo-900.ttf", "museo-900.svg", "museo-900.eot"));

@mixin fontMuseoSuperLight {
	font-family: "Museo superLight", Helvetica, Arial, sans-serif;
	font-weight: 100;
}

@mixin fontMuseoLight {
	font-family: "Museo light", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

@mixin fontMuseo {
	font-family: "Museo", Helvetica, Arial, sans-serif;
	font-weight: 500;
}

@mixin fontMuseoBold {
	font-family: "Museo bold", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

@mixin fontMuseoSuperBold {
	font-family: "Museo superBold", Helvetica, Arial, sans-serif;
	font-weight: 900;
}

//html

html, body {
  min-height: 100%;
  height: 100%;
}

//body

body {
	@include fontMuseo;
	font-size: 16px;
	color: $white;
}


//icons

$common-spacing: 5px;
@import "common/icons/*.png";


@mixin common-sp($name) {
	@include icons-sprite($name);
	width: icons-sprite-width($name);
	height: icons-sprite-height($name);
}

//headers & paragrphs

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

.support-page:not(:first-child) {
	display: none;
}