/******************************** content-scroll ********************************/

$b: "#content-scroll";

#{$b} {
	display: none;
	width: 200px;
	height: 50px;
	line-height: 50px;
	position: fixed;
	bottom: 0;
	right: 45px;
	@include background-image(linear-gradient($blue_lighten 20%, $blue_light 100%));
	@include fontMuseo;
	font-size: 19px;
	color: $white;
	@include text-shadow(rgba($black, 0.3) 2px 1px 0);
	@include border-top-left-radius(8px);
	@include border-top-right-radius(8px);
	cursor: pointer;

	@include after {
		position: absolute;
		top: 50%;
		left: 30%;
		margin-top: -6px;
		margin-left: -9px;
		@include menu-sp('arr_top');
	}
}
