/******************************** devices ********************************/

$b: ".devices";

#{$b} {
	@extend %clearfix;
}

#{$b}__img {
	display: block;
	max-width: 360px;
	max-height: 373px;
	float: left;
	@include border-radius(5px);
	@include box-shadow(0 10px 20px rgba($black, .3));
}

#{$b}__type {
	@include span(8 last of 12);
//	border: 1px solid red;
}

