/******************************** device-list ********************************/

$b: ".device";

#{$b}-top {
	@extend %clearfix;
}

#{$b}-top__item {
	display: block;
	float: left;
	margin: 0 gutter(7) 70px gutter(7);
}

@for $i from 1 through 4 {
	#{$b}-top__item_#{$i} {
		@extend #{$b}-top__item;
		background-image: url('/img/getTheApp/devicesTop/device_#{$i}.png');
		width: 318px;
		height: 77px;
		background-repeat: no-repeat !important;
		
		background-position: 0 0;

		&:hover {
			background-position: 0 100%;
		}
	}
}

#{$b}-bottom {
	@extend %clearfix;
	padding-left: gutter(6);
	position: relative;
	top: -10px;
}


#{$b}-bottom__item {
	display: block;
	float: left;
}

@for $i from 1 through 4 {
	#{$b}-bottom__item_#{$i} {
		@extend #{$b}-bottom__item;
		background: url('/img/getTheApp/devicesBottom/device_#{$i}.png');
		width: 167px;
		height: 79px;
		background-repeat: no-repeat !important;
		background-position: 0 0;

		&:hover {
			background-position: 0 100%;
		}
	}
}

