/******************************** footer ********************************/

$b: ".footer";

#{$b} {
	background-color: $white;
	text-align: left;
}

#{$b}-menu {
	@extend %clearfix;
}

#{$b}-menu__col {
	@include span(2.3 of 12);
}

#{$b}-menu__title {
	@include fontMuseoSuperBold;
	font-size: 14px;
	color: $green_dark;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#{$b}-menu__links {

	a {
		@include fontMuseo;
		font-size: 14px;
		color: $blue_dark;
		text-decoration: none;

		&:hover {
			color: $blue_lighten;
		}
	}
}

#{$b}-menu__buttons {

	li:first-child {
		margin: 13px 0 25px 0;
	}

	a {
		padding: 11px 18px;
		background-color: $green_dark;
		@include fontMuseoLight;
		font-size: 15px;
		color: $white;
		text-decoration: none;
		@include border-radius(5px);

		&:hover {
			background-color: $green_light;
		}
	}
}

#{$b}__bottom {
	padding: 51px 0 21px 0;
}

#{$b}__copy {
	@include fontMuseo;
	font-size: 14px;
	color: rgba($blue_dark, .6);
}
