/******************************** form ********************************/

$b: ".form";

input, select, textarea {
	width: 100%;
	@include box-sizing(border-box);
}

input:not([type="submit"]) {
	height: 42px;
}

textarea {
	height: 110px;
}

#{$b} {
	margin: 28px 6px 16px 34px;
	text-align: left;
	@include fontMuseo;
	color: $blue_dark;
}

#{$b}__title {
	@include fontMuseoLight;
	font-size: 31px;
}

#{$b}__text {
	font-size: 17px;
	width: span(8 of 12);
	margin-top: 30px;
}

#{$b}__note {
	margin: 30px 0;
	font-size: 15px;
	color: #596981;

	span {
		color: $green_light;
	}
}

#{$b}__row {
	margin-bottom: 17px;
}

#{$b}__label {
	display: inline-block;
	width: span(2.5 of 12);
	font-size: 15px;
	color: #596981;
}

#{$b}__field {
	display: inline-block;
	width:  span(6.5 of 12);
}

#{$b}__tooltip {
	display: inline-block;
	vertical-align: middle;
}

#{$b}__button {
	position: relative;
	left: 5px;
//	@include gutter(12);
	width:  span(3.1 of 12);
	height: 56px;
	border: none;
	outline: none;
	@include background-image(linear-gradient($blue_lighten 20%, $blue_light 100%));
	@include border-radius(10px);
	font-size: 19px;
	color: $white;

	&:first-child {
		margin-left:  span(2.5 of 12);
	}

	&:first-child + & {
		left: 20px;
	}

	&:disabled {
		@include background-image(linear-gradient(#EAEDF1 20%, #D5DBE2 100%));
		color: #B4BAC2;
	}
}

#form_big, #form_small {
	display: none;
}

.fancybox-close {
	@include tooltip-sp('close_big');
	top: 18px;
	right: 18px;
}