/******************************** game-switcher ********************************/

$b: ".game-switcher";

#{$b} {

	@include fontMuseo;
	font-size: 16px;

	li {
		display: inline-block;
	}

}

#{$b}__poker {
	display: inline-block;
	background: $green_light image-url("common/icons/poker.png") no-repeat 11% 50%;
//	@include background-image(linear-gradient($green_dark, $green_light));
	@include border-radius(5px);
	height: 32px;
	line-height: 200%;
	padding: 0 10px 0 37px;
}

#{$b}__casino {
	display: inline-block;
	background: image-url("common/icons/casino.png") no-repeat 11% 50%;
	@include border-radius(5px);
	height: 32px;
	line-height: 200%;
	padding: 0 10px 0 37px;
}

