/******************************** header ********************************/


$b: ".header";

#{$b} {
	height: 65px;
	line-height: 63px;
	position: relative;
}

#{$b}__logo {
	float: left;
	margin-right: gutter(3);

	@include breakpoint(max-width 1060px) {
		margin-left: gutter(10);
	}

}

#{$b}__menu {
	@include span(8 of 12);
	height: 100%;
	float: left;

	@include breakpoint(max-width 1060px) {
		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 100;
	}
}


#{$b}__share {
	@include span(1 last of 12);
	height: 100%;
}