/******************************** inner-page ********************************/

$b: ".inner-page";

#{$b} {
	background-color: $blue_dark;
	@include background-image(linear-gradient(darken($blue_dark, 7%) 4%, $blue_dark 20%));
}

#{$b}__title {
	position: relative;
	padding: 73px 0 60px 0;
	margin-bottom: 40px;
	@include fontMuseoSuperLight;
	font-size: 52px;
	line-height: 130%;

	.title-separator {
		border-top: 1px solid $green_dark;
		width: 170px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -85px;
	}
}

#{$b}__content {
	margin-top: 100px;
}

#{$b}__text {
	@include fontMuseo;
	font-size: 17px;
}


#{$b}__menu {
	@include box-sizing(border-box);
	@include box-shadow(0 20px 50px rgba($black, .4));
	@include border-radius(50px);
	padding: 0 60px;
	margin-top: 39px;
}

#{$b}_features {
	background: url('/img/getTheApp/feature/bg.jpg');
	height: image-height('/getTheApp/feature/bg.jpg');
	background-repeat: no-repeat;
	@include background-size(cover !important);
	width: 100%;
	margin-top: 80px;
}

#{$b}_screens {
	position: relative;
	padding-bottom: 80px;
}
