/******************************** lang ********************************/

$b: ".lang";

#{$b} {
	display: inline-block;
	background: image-url("common/icons/arr.png") no-repeat 100% 50%;
	width: 36px;
	height: 16px;
}

#{$b}__en,  #{$b}__ru {
	width: 22px;
	height: 16px;
	display: none;

	&.active {
		display: block;
	}
}

#{$b}__en {
	@include common-sp('en');
}

#{$b}__ru {
	@include common-sp('ru');
}


