/******************************** link ********************************/

$b: ".link";

#{$b} {
	@include fontMuseo;
	color: rgba($white, .58);
	font-size: 15px;
	text-decoration: none;

	&:hover {
		color: rgba($white, .8);
	}
}
