/******************************** menu ********************************/

$menu-spacing: 5px;
@import "howToStart/menu/*.png";


@mixin menu-sp($name) {
	@include menu-sprite($name);
	width: menu-sprite-width($name);
	height: menu-sprite-height($name);
}


$b: ".menu";

#{$b} {
	width: 100%;
}

#{$b}_main {
	@include breakpoint(max-width 1060px) {
		background-color: $white;
		border-bottom: 1px solid $blue_dark;
	}


	#{$b}__item {
		display: inline-block;

		&:not(:first-child) {
			margin-left: gutter(4.5);
		}

		a {
			display: block;
			@include fontMuseoSuperBold;
			font-size: 16px;
			color: $blue_light;
			text-transform: uppercase;
			text-decoration: none;

			&:hover {
				color: $green_light;
				border-bottom: 4px solid $green_light;
			}
		}

		@include breakpoint(max-width 1060px) {
			display: block;
			text-align: left;

			&, &:not(:first-child) {
				margin: 0;
			}

			a {
				padding-left: gutter(10);
				border-top: 1px solid $blue_dark;

				&:hover {
					border-bottom: none;
				}
			}
		}
	}
}

#{$b}_support {
	height: 80px;
	@include background-image(linear-gradient($grey_light 6%, $grey_dark 100%));

	#{$b}__item {
		position: relative;
		display: block;
		text-align: center;
		height: 80px;
		line-height: 80px;
		padding: 5px 0;
		@include border-radius(5px);

		&.active {
			@include background-image(linear-gradient($blue_lighten 20%, $blue_light 100%));
//			@include box-shadow(0 5px 8px rgba($black, .5));

			@include after {
				border: 10px solid transparent;
				border-top-color: $blue_light;
				width: 0;
				height: 0;
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -5px;
				z-index: 30;

			}

			.icon {
				@include menu-sp("icon_2");
			}
		}

		.icon {
			display: inline-block;
			@include menu-sp("icon_1");
			vertical-align: middle;
		}

		span {
			display: inline-block;
			position: relative;
			left: 10px;
			line-height: 140%;
			vertical-align: middle;
			font-size: 19px;
			color: $white;
			text-align: left;
			@include text-shadow(rgba($black, .4)  2px 2px 2px );
			text-decoration: 1px dashed $white;
		}

		b {
			font-weight: 400;
			border-bottom: 1px dashed $white;
			padding-bottom: 2px;
		}
	}

}

.owl-wrapper-outer {
	top: -20px;
	padding: 15px 0;
	@include box-sizing(border-box);
}

.owl-carousel {
	padding: 0 50px;
	@include box-sizing(border-box);
	@include box-shadow(0 -1px 0 0 rgba($white, .7));
}


.owl-prev, .owl-next {
	width: 45px;
	height: 80px;
	@include background-image(linear-gradient($grey_light 6%, $grey_dark 100%));
	@include box-shadow(0 -1px 0 0 rgba($white, .7));
	position: absolute;
	top: 0;

	@include after {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -5px;
		margin-top: -8px;
		background-color: rgba($black, .1);
		@include box-shadow(0 0 10px rgba($black, .3));
		@include border-radius(15px);
	}

	@include before {
		position: absolute;
		top: 0;
	}

}

.owl-prev {
	left: -45px;

	@include before {
		right: 100%;
		@include menu-sp('nav_left');
	}

	@include after {
		@include menu-sp('arr_left');
	}

	&.disabled {
		@include after {
			opacity: .2;
		}
	}

}

.owl-next {
	right: -45px;
	@include before {
		left: 100%;
		@include menu-sp('nav_right');
	}

	@include after {
		@include menu-sp('arr_right');
	}

	&.disabled {
		@include after {
			opacity: .2;
		}
	}
}

#menu_support {
	visibility: hidden;
}


