/******************************** poker-room ********************************/

$common-spacing: 5px;
@import "mainPage/glows/*.png";


@mixin glows-sp($name) {
  @include glows-sprite($name);
  width: glows-sprite-width($name);
  height: glows-sprite-height($name);
}



$b: ".poker-room";

#{$b} {
	position: relative;
	background-color: $blue_light;
	min-height: 800px;
	height: 100% !important;
	overflow: hidden;
}

#{$b}__video {
	width: 295px;
	height: 100px;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -147px;
  	z-index: 20;
}

#{$b}__glows {
  position: relative;
  background: url('/img/mainPage/bg_load.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: inherit;
  @include background-size(100% auto);
  overflow: hidden;

  .glow {
	display: block;
	position: absolute;
	top: 40px;
	left: 0;
  	width: 100%;
	height: 100%;
  	min-height: inherit;
  	@include background-size(100% 100% !important);
  }

  @for $i from 1 through 9 {
	.glow_#{$i} {
	  background: url('/img/mainPage/glow_#{$i}.png');
	  background-repeat: no-repeat;
//	  width: image-width('/mainPage/glow_#{$i}.png');
//	  height: image-height('/mainPage/glow_#{$i}.png');
	}
  }

//  .glow_1 {
//	top: 11%;
//	left: 8%;
//  }
//
//  .glow_2 {
//	top: 14%;
//	left: 20%;
//  }
//
//  .glow_3 {
//	top: 15%;
//	left: 30%;
//  }
//
//  .glow_4 {
//	top: 18%;
//	left: 40%;
//  }
//
//  .glow_5 {
//	top: 17%;
//	left: 48%;
//  }
//
//  .glow_6 {
//	top: 16%;
//	left: 56%;
//  }
//
//  .glow_7 {
//	top: 14%;
//	left: 66%;
//  }
//
//  .glow_8 {
//	top: 13%;
//	left: 76%;
//  }
//
//  .glow_9 {
//	top: 9%;
//	left: 90%;
//  }
}

#{$b}__flash {
  background: url('/img/mainPage/flash.png');
  width: 100%;
  height: image-height('/mainPage/flash.png');
  @include background-size(100% auto);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#{$b}__background {
  background: url('/img/mainPage/background.jpg');
//  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 100%;
  min-height: inherit;
//  min-height:  image-height('/img/mainPage/background.jpg');
  @include background-size(100% 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

#{$b}__table {
  background: url('/img/mainPage/table.png') no-repeat 0 0;
  width: 100%;
  max-width: image-width('/mainPage/table.png');
  height: 100%;
  background-position: 0 100%;
  @include background-size(100% auto);
  position: absolute;
  top: 0;
  z-index: 14;
}

#{$b}__carmen {
  background: url('/img/mainPage/carmen.png') no-repeat 0 0;
  height: image-height('/mainPage/carmen.png');
  width: image-width('/mainPage/carmen.png');
  position: absolute;
  bottom: 0;
  right: 0;
//  margin-left: -625px;
  z-index: 17;

}

#{$b}__palm_left {
  background: url('/img/mainPage/palm_left.png') no-repeat 0 0;
  height: image-height('/mainPage/palm_left.png');
  width: image-width('/mainPage/palm_left.png');
  background-repeat: no-repeat;
  position: absolute;
  left: -120px;
  bottom: 80px;
  z-index: 17;
}

#{$b}__store {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 80px;
  left: 0;
  z-index: 20;
}

#{$b}__copy {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  color: rgba($white, .4);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}