/******************************** scroller ********************************/

$b: ".scroller";

#{$b} {
	width: 48px;
	//	height: 262px;
//	padding: 15px 0;
	@include border-radius(5px);
	background-color: $blue_dark;
	position: absolute;
	top: 0;
	left: 0;
	@include transition(all 1s);
}

#{$b}__item {
	width: 100%;

	a {
//		border: 1px solid red;
		display: block;
		height: 50px;
		line-height: 50px;
		color: $blue_lighten;
		text-decoration: none;

		&:hover {
			color: $white;
		}
	}
}
