/******************************** share ********************************/

$b: ".share";

#{$b} {
	height: inherit;
	position: relative;
}

#{$b}__button {
	@include common-sp('share');
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

#{$b}__content {
	display: none;
	width: 150px;
	height: 200px;
	position: absolute;
	top: 100%;
	left: 0;
	border: 1px solid red;
	z-index: 20;
}
