/******************************** social ********************************/

$b: ".social";

#{$b} {
	padding: 125px 0 139px;
	background: $blue_dark;
	@extend %clearfix;
}

#{$b}__item {
	@include span(2 wide of 12);
	height: 80px;
	@include box-sizing(border-box);
	@include gutter(7);

	a {
		display: block;
		height: inherit;
		line-height: 80px;
	}

	img {
		display: inline-block;
		vertical-align: middle;
	}
}

