/******************************** stage ********************************/

$b: ".stage";

#{$b} {
	text-align: left;
	position: relative;
	margin-bottom: 70px;
	padding-bottom: 70px;
	border-bottom: 1px solid rgba(#7F95BB, .17);

	&:last-child {
		padding-bottom: 70px;
		margin-bottom: 0;
		border-bottom: 0;

		#{$b}__scroll {
			display: none;
		}
	}
}

#{$b}__num {
	width: 54px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	@include border-radius(5px);
	background-color: $blue_lighten;
	@include background-image(linear-gradient($blue_lighten 20%, $blue_light 100%));
	position: absolute;
	top: 0;
	left: -85px;
	font-size: 30px;
	color: $white;
	@include text-shadow(rgba($black, 0.3) 2px 1px 0);
}

#{$b}__text {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 17px;
	border-bottom: 1px solid rgba(#7F95BB, .17);
}

#{$b}-text {
	@include fontMuseo;
	font-size: 18px;
	line-height: 150%;
	color: $white;
}

#{$b}-text_trigger {
	font-size: 16px;
	border-bottom: 1px dashed $green_dark;
	color: $green_dark;
	cursor: pointer;
}

#{$b}-text_more {
	display: none;

	#{$b}-text_trigger.active + & {
		display: block;
	}
}

#{$b}-text_hide {
	display: none;
}

#{$b}__help {
	position: relative;
	@include fontMuseo;
	font-size: 15px;
	padding: 0 240px 0 110px;

	a {
		display: inline;
		color: $green_light;
		text-decoration: none;
		border-bottom: 1px dashed $green_light;
		margin-bottom: 10px;
		line-height: 100%;

		&:hover {
			color: darken($green_light, 5%);
		}
	}
}

#{$b}__content {
	position: relative;
	width: 100%;
	height: 530px;
	background: #0E182D url('/img/howToStart/screen/preloader.gif') 50% 50% no-repeat;
	margin-top: 28px;
	@include box-shadow(0 25px 30px rgba($black, .2));
}

#{$b}__scroll {
	display: block;
	@include common-sp('stage-scroll');
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -30px;
	cursor: pointer;
}

#{$b}__support {
	display: inline-block;
	width: 106px;
	position: absolute;
	top: 0;
	right: 0;

	@include after {
		@include common-sp('question');
		position: absolute;
		top: -10%;
		left: -24px;
	}
}

#{$b}__data {
	margin-right: 25px;
}

#{$b}__label {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .6;
	margin-left: 22px;

	@include after {
		@include common-sp('note');
		position: absolute;
		top: 4%;
		left: -22px;
	}
}