/******************************** stage-list ********************************/

$b: ".stage-list";

#{$b} {
	width: 100%;
	margin-top: 122px;
	position: relative;
}


#{$b}__content {
	margin: 0 85px;
}
