/******************************** store ********************************/

$b: ".store";

#{$b} {
  width: inherit;
  height: inherit;
}

#{$b}__google, #{$b}__apple, #{$b}__total {
  display: inline-block;
}

#{$b}__google {
	@include common-sp('google');
}

#{$b}__apple {
	@include common-sp('apple');
}

#{$b}__total {
  width: 100px;
  height: inherit;
  margin: 0 50px;
  vertical-align: top;

  p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 170%;
  }
}

#{$b}__icon {
  display: inline-block;
  @include common-sp('players');
}


