/******************************** tooltip ********************************/


$tooltip-spacing: 5px;
@import "howToStart/tooltip/*.png";

@mixin tooltip-sp($name) {
	@include tooltip-sprite($name);
	width: tooltip-sprite-width($name);
	height: tooltip-sprite-height($name);
}

.tooltip {
	position: relative;
	@include background-image(linear-gradient($green_light 20%, $green_dark 100%));
	@include box-sizing(border-box);
	cursor: pointer;
}

.tooltip_stage {
	width: 36px;
	height: 36px;
	@include border-radius(18px);

	@include after {
		@include tooltip-sp('question');
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -5px;
		margin-top: -8px;
	}

	&.clicked {
		background: $blue_dark;
		border: 3px solid $blue_light;

		@include after {
			@include tooltip-sp('close');
			top: 50%;
			left: 50%;
			margin-left: -6px;
			margin-top: -6px;
		}
	}
}

.tooltip_form {
	width: 18px;
	height: 18px;
	@include border-radius(9px);

	@include after {
		@include tooltip-sp('question_small');
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -3px;
		margin-top: -5px;
	}

	&:hover {
		@include box-shadow(0 0 5px rgba($black, .7) inset);
	}
}

.tooltip_shadow {
	@include box-shadow(0 3px 9px rgba(#B9CBE2, 1));
}

.tooltip_close {
	display: block;
	@include tooltip-sp('close_small');
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 10000000000;
}

.tooltipster-default {
	background: rgba($white, .9);
	@include border-radius(5px);
	@include box-sizing(border-box);
	@include box-shadow(none);
	border: none;
}


.tooltipster-default .tooltipster-content {
	@include fontMuseo;
	color: $blue_dark;
	padding: 22px 25px;
	font-size: 14px;
	line-height: 135%;
	text-align: left;

	span {
		display: block;
		@include fontMuseoBold;
		font-size: 17px;
		color: $blue_dark;
		margin-bottom: 10px;
	}
}

.tooltipster-arrow-bottom span,
.tooltipster-arrow-bottom-right span,
.tooltipster-arrow-bottom-left span {
	border-left: 18px solid transparent!important;
	border-right: 18px solid transparent!important;
	border-bottom: 18px solid rgba($white, .9) !important;
	top: -18px;
	@include transform(skew(44deg));
}

.tooltipster-arrow-top span,
.tooltipster-arrow-top-right span,
.tooltipster-arrow-top-left span {
	border-left: 18px solid transparent!important;
	border-right: 18px solid transparent!important;
	border-top: 18px solid rgba($white, .9) !important;
	bottom: -18px;
	@include transform(skew(44deg));
}

.tooltipster-arrow-right span {
	border-top: 18px solid transparent!important;
	border-bottom: 18px solid transparent!important;
	border-right: 18px solid rgba($white, .9) !important;
	top: 40%;
	margin-top: -18px;
	left: -18px;
	@include transform(skewY(-44deg));
}

.tooltipster-arrow-left span {
	border-top: 18px solid transparent!important;
	border-bottom: 18px solid transparent!important;
	border-left: 18px solid rgba($white, .9) !important;
	top: 40%;
	margin-top: -18px;
	right: -18px;
	@include transform(skewY(44deg));
}

.tooltipster-base {
	z-index: 30;
}