/******************************** toolbar ********************************/

$b: ".toolbar";

#{$b} {
	height: 42px;
	line-height: 42px;
	background-color: darken($blue_dark, 7%);
	text-align: center;
}

#{$b}__lang, #{$b}__login {
	display: inline-block;
	float: left;
}

#{$b}__lang {
	margin-right: 20px;
}

#{$b}__login {

}

#{$b}__games {
	float: right;
	display: inline-block;
}

#{$b}__support {
	margin-left: -190px;
}
