/******************************** video ********************************/

$b: ".video";

#{$b} {
	width: inherit;
//	height: inherit;
	text-align: center;
//	line-height: 100px;
}

#{$b}__button {
	display: inline-block;
	width: 100px;
	height: 100px;
	@include border-radius(50px);
	background: $blue_dark image-url("common/icons/watch.png") no-repeat 60% 50%;
	margin: 0 15px;

	&:hover {
		opacity: .7;
	}
}

#{$b}__text {
	@include fontMuseoBold;
	display: inline-block;
	padding-bottom: 85px;
	vertical-align: middle;
	text-transform: uppercase;
	color: $white;
}
