/******************************** features ********************************/

$b: ".feature";

#{$b} {
	position: relative;
	height: 100%;

	@include after {
		height: 100%;
		background: url('/img/getTheApp/feature/cosplay.png');
		height: image-height('/getTheApp/feature/cosplay.png');
		width: image-width('/getTheApp/feature/cosplay.png');
		background-repeat: no-repeat;
		background-position-y: 100%;
		position: absolute;
		bottom: 0;
		left: -100px;
	}

}

#{$b}__info {
	@include span(6 last of 12);
	text-align: left;
}

#{$b}__title {
	@include fontMuseoSuperLight;
	font-size: 50px;
	line-height: 120%;
	margin-top: 49px;
}

#{$b}__type {
	margin-top: 57px;
}


#{$b}-type-item {
	position: relative;
	padding-left: 112px;
	@include fontMuseoSuperBold;
	font-size: 18px;
	line-height: 120%;
	margin-bottom: 50px;
}

@for $i from 1 through 3 {
	#{$b}-type-item_#{$i} {
		@extend #{$b}-type-item;
		@include after {
			position: absolute;
			top: -5px;
			left: 0;
			background: url('/img/getTheApp/feature/types/type_#{$i}.png');
			width: 89px;
//			width: image-width('/getTheApp/feature/types/type_#{$i}.png');
			height: image-height('/getTheApp/feature/types/type_#{$i}.png');
			background-position-x: 50%;
			background-repeat: no-repeat !important;
		}
	}
}

#{$b}__list {
	margin-top: 70px;
	li {
		position: relative;
		margin-top: 17px;
		padding-left: 18px;
		@include fontMuseo;
		font-size: 15px;

		@include after {
			width: 6px;
			height: 6px;
			background-color: $green_dark;
			position: absolute;
			top: 20%;
			left: 0;
			@include border-radius(3px);
		}
	}
}

