/******************************** screen ********************************/

$b: ".screen";

#{$b} {
	width: inherit;
	height: inherit;
//	height: image-height('/howToStart/screen/preloader.gif');
//	height: image-width('/howToStart/screen/preloader.gif');
	@include box-shadow(0 25px 30px rgba($black, .1));
	@include border-radius(40px);
	img {
		display: block;
		width: inherit;
		height: inherit;
	}
}

#{$b}__item {
	display: none;
	width: 36px;
	height: 36px;
	position: absolute;
}

#{$b}_connect {
	#{$b}__item_1 {
		left: 30%;
		bottom: 80px;
	}

	#{$b}__item_2 {
		right: 22%;
		bottom: 15px;
	}


}

#{$b}_sign-up {
	#{$b}__item_1 {
		left: 26.5%;
		top: 200px;
	}

	#{$b}__item_2 {
		right: 26.5%;
		top: 200px;
	}

	#{$b}__item_3 {
		left: 26.5%;
		bottom: 34px;
	}


}

#{$b}__info {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($blue_dark, .9);
	padding: 50px 30px 20px 30px;
	@include box-sizing(border-box);
	z-index: 35;
}

#{$b}__text {
	margin-top: 20px;
}

#{$b}__close {
	display: block;
	@include tooltip-sp('close_big');
	position: absolute;
	top: 18px;
	right: 18px;
	cursor: pointer;
}
