/******************************** screenshot ********************************/

$b: ".screenshots";

#{$b} {
	padding: 25px 143px 0 138px;
	background: url('/img/getTheApp/screenShots/phone.png');
	height: image-height('/getTheApp/screenShots/phone.png');
	width: image-width('/getTheApp/screenShots/phone.png');
	border: none;
//	z-index: 30;

//	@include before {
//		position: absolute;
//		top: 0;
//		left: 0;
//		background: url('/img/getTheApp/screenShots/bg_left.png');
//		height: image-height('/getTheApp/screenShots/bg_left.png');
//		width: image-width('/getTheApp/screenShots/bg_left.png');
////		@include image-with-dimentions('/img/getTheApp/screenShots/bg_left.png');
//		z-index: -1;
//	}

	.flex-control-nav, .flex-direction-nav {
		display: none;
	}
}

#{$b}__bg_1 {
	position: absolute;
	top: -36px;
	left: -251px;
	background: url('/img/getTheApp/screenShots/bg_left.png');
	height: image-height('/getTheApp/screenShots/bg_left.png');
	width: image-width('/getTheApp/screenShots/bg_left.png');
}

#{$b}__bg_2 {
	position: absolute;
	top: -132px;
	right: -239px;
	background: url('/img/getTheApp/screenShots/bg_right.png');
	height: image-height('/getTheApp/screenShots/bg_right.png');
	width: image-width('/getTheApp/screenShots/bg_right.png');
}

