/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu, .social, .devices, .device-top, .device-bottom {
  zoom: 1;
}
.footer-menu:before, .social:before, .devices:before, .device-top:before, .device-bottom:before, .footer-menu:after, .social:after, .devices:after, .device-top:after, .device-bottom:after {
  content: " ";
  display: table;
}
.footer-menu:after, .social:after, .devices:after, .device-top:after, .device-bottom:after {
  clear: both;
}

/******************************** common ********************************/
@font-face {
  font-family: "Museo superLight";
  src: url('../fonts/museo-100.woff?1412733151') format('woff'), url('../fonts/museo-100.ttf?1412733151') format('truetype'), url('../fonts/museo-100.svg?1412733151') format('svg'), url('../fonts/museo-100.eot?1412733151') format('embedded-opentype');
}
@font-face {
  font-family: "Museo light";
  src: url('../fonts/museo-300.woff?1412733151') format('woff'), url('../fonts/museo-300.ttf?1412733151') format('truetype'), url('../fonts/museo-300.svg?1412733151') format('svg'), url('../fonts/museo-300.eot?1412733151') format('embedded-opentype');
}
@font-face {
  font-family: "Museo";
  src: url('../fonts/museo-500.woff?1412733151') format('woff'), url('../fonts/museo-500.ttf?1412733151') format('truetype'), url('../fonts/museo-500.svg?1412733151') format('svg'), url('../fonts/museo-500.eot?1412733151') format('embedded-opentype');
}
@font-face {
  font-family: "Museo bold";
  src: url('../fonts/museo-700.woff?1412733151') format('woff'), url('../fonts/museo-700.ttf?1412733151') format('truetype'), url('../fonts/museo-700.svg?1412733151') format('svg'), url('../fonts/museo-700.eot?1412733151') format('embedded-opentype');
}
@font-face {
  font-family: "Museo superBold";
  src: url('../fonts/museo-900.woff?1412733151') format('woff'), url('../fonts/museo-900.ttf?1412733151') format('truetype'), url('../fonts/museo-900.svg?1412733151') format('svg'), url('../fonts/museo-900.eot?1412733151') format('embedded-opentype');
}
html, body {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
}

.icons-sprite, .lang__en, .lang__ru, .logo, .share__button, .store__google, .store__apple, .store__icon, .stage__scroll, .stage__support:after, .stage__label:after {
  background-image: url('../img/common/icons-sfcd756b0f7.png');
  background-repeat: no-repeat;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

.support-page:not(:first-child) {
  display: none;
}

/******************************** layout ********************************/
.layout {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.layout:after {
  content: " ";
  display: block;
  clear: both;
}

/******************************** toolbar ********************************/
.toolbar {
  height: 42px;
  line-height: 42px;
  background-color: #09192e;
  text-align: center;
}

.toolbar__lang, .toolbar__login {
  display: inline-block;
  float: left;
}

.toolbar__lang {
  margin-right: 20px;
}

.toolbar__games {
  float: right;
  display: inline-block;
}

.toolbar__support {
  margin-left: -190px;
}

/******************************** link ********************************/
.link {
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.58);
  font-size: 15px;
  text-decoration: none;
}
.link:hover {
  color: rgba(255, 255, 255, 0.8);
}

/******************************** icon ********************************/
.icon {
  display: block;
}

/******************************** lang ********************************/
.lang {
  display: inline-block;
  background: url('../img/common/icons/arr.png?1415948688') no-repeat 100% 50%;
  width: 36px;
  height: 16px;
}

.lang__en, .lang__ru {
  width: 22px;
  height: 16px;
  display: none;
}
.lang__en.active, .lang__ru.active {
  display: block;
}

.lang__en {
  background-position: 0 -107px;
  width: 22px;
  height: 16px;
}

.lang__ru {
  background-position: 0 -327px;
  width: 22px;
  height: 16px;
}

/******************************** login ********************************/
.login {
  font-family: "Museo light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.login span {
  margin: 0 10px;
  opacity: .4;
}

/******************************** game-switcher ********************************/
.game-switcher {
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.game-switcher li {
  display: inline-block;
}

.game-switcher__poker {
  display: inline-block;
  background: #36A400 url('../img/common/icons/poker.png?1415948688') no-repeat 11% 50%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 32px;
  line-height: 200%;
  padding: 0 10px 0 37px;
}

.game-switcher__casino {
  display: inline-block;
  background: url('../img/common/icons/casino.png?1415948688') no-repeat 11% 50%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 32px;
  line-height: 200%;
  padding: 0 10px 0 37px;
}

/******************************** header ********************************/
.header {
  height: 65px;
  line-height: 63px;
  position: relative;
}

.header__logo {
  float: left;
  margin-right: 7.14286%;
}
@media (max-width: 1060px) {
  .header__logo {
    margin-left: 2.04082%;
  }
}

.header__menu {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  height: 100%;
  float: left;
}
@media (max-width: 1060px) {
  .header__menu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
  }
}

.header__share {
  width: 6.77966%;
  float: right;
  margin-right: 0;
  height: 100%;
}

/******************************** logo ********************************/
.logo {
  display: inline-block;
  background-position: 0 -203px;
  width: 187px;
  height: 38px;
  vertical-align: middle;
}

/******************************** menu ********************************/
.menu-sprite, .menu_support .menu__item.active .icon, .menu_support .menu__item .icon, .owl-prev:before, .owl-prev:after, .owl-next:before, .owl-next:after, #content-scroll:after {
  background-image: url('../img/howToStart/menu-s9d3c224efd.png');
  background-repeat: no-repeat;
}

.menu {
  width: 100%;
}

@media (max-width: 1060px) {
  .menu_main {
    background-color: #FFF;
    border-bottom: 1px solid #0F294C;
  }
}
.menu_main .menu__item {
  display: inline-block;
}
.menu_main .menu__item:not(:first-child) {
  margin-left: 4.65116%;
}
.menu_main .menu__item a {
  display: block;
  font-family: "Museo superBold", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #0A3259;
  text-transform: uppercase;
  text-decoration: none;
}
.menu_main .menu__item a:hover {
  color: #36A400;
  border-bottom: 4px solid #36A400;
}
@media (max-width: 1060px) {
  .menu_main .menu__item {
    display: block;
    text-align: left;
  }
  .menu_main .menu__item, .menu_main .menu__item:not(:first-child) {
    margin: 0;
  }
  .menu_main .menu__item a {
    padding-left: 2.04082%;
    border-top: 1px solid #0F294C;
  }
  .menu_main .menu__item a:hover {
    border-bottom: none;
  }
}

.menu_support {
  height: 80px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI2JSIgc3RvcC1jb2xvcj0iIzcyODI5MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQwNGE1OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(6%, #728291), color-stop(100%, #404a59));
  background-image: -moz-linear-gradient(#728291 6%, #404a59 100%);
  background-image: -webkit-linear-gradient(#728291 6%, #404a59 100%);
  background-image: linear-gradient(#728291 6%, #404a59 100%);
}
.menu_support .menu__item {
  position: relative;
  display: block;
  text-align: center;
  height: 80px;
  line-height: 80px;
  padding: 5px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.menu_support .menu__item.active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiMwMDY3YWQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTMyNTkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #0067ad), color-stop(100%, #0a3259));
  background-image: -moz-linear-gradient(#0067ad 20%, #0a3259 100%);
  background-image: -webkit-linear-gradient(#0067ad 20%, #0a3259 100%);
  background-image: linear-gradient(#0067ad 20%, #0a3259 100%);
}
.menu_support .menu__item.active:after {
  content: "";
  display: block;
  border: 10px solid transparent;
  border-top-color: #0A3259;
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index: 30;
}
.menu_support .menu__item.active .icon {
  background-position: 0 -116px;
  width: 46px;
  height: 53px;
}
.menu_support .menu__item .icon {
  display: inline-block;
  background-position: 0 -58px;
  width: 46px;
  height: 53px;
  vertical-align: middle;
}
.menu_support .menu__item span {
  display: inline-block;
  position: relative;
  left: 10px;
  line-height: 140%;
  vertical-align: middle;
  font-size: 19px;
  color: #FFF;
  text-align: left;
  text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px;
  text-decoration: 1px dashed #FFF;
}
.menu_support .menu__item b {
  font-weight: 400;
  border-bottom: 1px dashed #FFF;
  padding-bottom: 2px;
}

.owl-wrapper-outer {
  top: -20px;
  padding: 15px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.owl-carousel {
  padding: 0 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.7);
}

.owl-prev, .owl-next {
  width: 45px;
  height: 80px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI2JSIgc3RvcC1jb2xvcj0iIzcyODI5MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQwNGE1OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(6%, #728291), color-stop(100%, #404a59));
  background-image: -moz-linear-gradient(#728291 6%, #404a59 100%);
  background-image: -webkit-linear-gradient(#728291 6%, #404a59 100%);
  background-image: linear-gradient(#728291 6%, #404a59 100%);
  -moz-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
}
.owl-prev:after, .owl-next:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -8px;
  background-color: rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.owl-prev:before, .owl-next:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
}

.owl-prev {
  left: -45px;
}
.owl-prev:before {
  content: "";
  display: block;
  right: 100%;
  background-position: 0 -364px;
  width: 16px;
  height: 80px;
}
.owl-prev:after {
  content: "";
  display: block;
  background-position: 0 0;
  width: 10px;
  height: 15px;
}
.owl-prev.disabled:after {
  content: "";
  display: block;
  opacity: .2;
}

.owl-next {
  right: -45px;
}
.owl-next:before {
  content: "";
  display: block;
  left: 100%;
  background-position: 0 -449px;
  width: 16px;
  height: 80px;
}
.owl-next:after {
  content: "";
  display: block;
  background-position: 0 -20px;
  width: 10px;
  height: 15px;
}
.owl-next.disabled:after {
  content: "";
  display: block;
  opacity: .2;
}

#menu_support {
  visibility: hidden;
}

/******************************** share ********************************/
.share {
  height: inherit;
  position: relative;
}

.share__button {
  background-position: 0 -343px;
  width: 25px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.share__content {
  display: none;
  width: 150px;
  height: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid red;
  z-index: 20;
}

/******************************** poker-room ********************************/
.glows-sprite {
  background-image: url('../img/mainPage/glows-s53314fb13f.png');
  background-repeat: no-repeat;
}

.poker-room {
  position: relative;
  background-color: #0A3259;
  min-height: 800px;
  height: 100% !important;
  overflow: hidden;
}

.poker-room__video {
  width: 295px;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -147px;
  z-index: 20;
}

.poker-room__glows {
  position: relative;
  background: url("/img/mainPage/bg_load.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: inherit;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  overflow: hidden;
}
.poker-room__glows .glow {
  display: block;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  -moz-background-size: 100% 100% !important;
  -o-background-size: 100% 100% !important;
  -webkit-background-size: 100% 100% !important;
  background-size: 100% 100% !important;
}
.poker-room__glows .glow_1 {
  background: url("/img/mainPage/glow_1.png");
  background-repeat: no-repeat;
}
.poker-room__glows .glow_2 {
  background: url("/img/mainPage/glow_2.png");
  background-repeat: no-repeat;
}
.poker-room__glows .glow_3 {
  background: url("/img/mainPage/glow_3.png");
  background-repeat: no-repeat;
}
.poker-room__glows .glow_4 {
  background: url("/img/mainPage/glow_4.png");
  background-repeat: no-repeat;
}
.poker-room__glows .glow_5 {
  background: url("/img/mainPage/glow_5.png");
  background-repeat: no-repeat;
}
.poker-room__glows .glow_6 {
  background: url("/img/mainPage/glow_6.png");
  background-repeat: no-repeat;
}
.poker-room__glows .glow_7 {
  background: url("/img/mainPage/glow_7.png");
  background-repeat: no-repeat;
}
.poker-room__glows .glow_8 {
  background: url("/img/mainPage/glow_8.png");
  background-repeat: no-repeat;
}
.poker-room__glows .glow_9 {
  background: url("/img/mainPage/glow_9.png");
  background-repeat: no-repeat;
}

.poker-room__flash {
  background: url("/img/mainPage/flash.png");
  width: 100%;
  height: 579px;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.poker-room__background {
  background: url("/img/mainPage/background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: inherit;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

.poker-room__table {
  background: url("/img/mainPage/table.png") no-repeat 0 0;
  width: 100%;
  max-width: 2400px;
  height: 100%;
  background-position: 0 100%;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  top: 0;
  z-index: 14;
}

.poker-room__carmen {
  background: url("/img/mainPage/carmen.png") no-repeat 0 0;
  height: 610px;
  width: 373px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 17;
}

.poker-room__palm_left {
  background: url("/img/mainPage/palm_left.png") no-repeat 0 0;
  height: 498px;
  width: 308px;
  background-repeat: no-repeat;
  position: absolute;
  left: -120px;
  bottom: 80px;
  z-index: 17;
}

.poker-room__store {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 80px;
  left: 0;
  z-index: 20;
}

.poker-room__copy {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}

/******************************** avatars ********************************/
.avatars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 16;
}

.avatars__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.avatars__item img {
  display: block;
  opacity: .5;
  border: 2px solid rgba(0, 0, 0, 0.7);
}

.avatars__item_1 {
  background: url("/img/mainPage/avatars/ava_1.png");
  max-width: 130px;
  max-height: 160px;
}

.avatars__item_2 {
  background: url("/img/mainPage/avatars/ava_2.png");
  max-width: 55px;
  max-height: 98px;
}

.avatars__item_3 {
  background: url("/img/mainPage/avatars/ava_3.png");
  max-width: 42px;
  max-height: 61px;
}

.avatars__item_4 {
  background: url("/img/mainPage/avatars/ava_4.png");
  max-width: 40px;
  max-height: 46px;
}

.avatars__item_5 {
  background: url("/img/mainPage/avatars/ava_5.png");
  max-width: 48px;
  max-height: 48px;
}

.avatars__item_6 {
  background: url("/img/mainPage/avatars/ava_6.png");
  max-width: 31px;
  max-height: 59px;
}

.avatars__item_7 {
  background: url("/img/mainPage/avatars/ava_7.png");
  max-width: 119px;
  max-height: 153px;
}

.avatars__item_1 {
  left: 29%;
  bottom: 27%;
}
.avatars__item_1 img {
  width: 119px;
  height: 152px;
  -moz-transform: rotateY(-14deg) rotateZ(3deg) rotateX(-4deg);
  -ms-transform: rotateY(-14deg) rotateZ(3deg) rotateX(-4deg);
  -webkit-transform: rotateY(-14deg) rotateZ(3deg) rotateX(-4deg);
  transform: rotateY(-14deg) rotateZ(3deg) rotateX(-4deg);
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
}

.avatars__item_2 {
  left: 24%;
  bottom: 33%;
}
.avatars__item_2 img {
  width: 55px;
  height: 90px;
  -moz-transform: rotateY(39deg) rotateZ(-4deg) rotateX(-7deg);
  -ms-transform: rotateY(39deg) rotateZ(-4deg) rotateX(-7deg);
  -webkit-transform: rotateY(39deg) rotateZ(-4deg) rotateX(-7deg);
  transform: rotateY(39deg) rotateZ(-4deg) rotateX(-7deg);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.avatars__item_3 {
  left: 39%;
  bottom: 37%;
}
.avatars__item_3 img {
  width: 40px;
  height: 55px;
  -moz-transform: rotateY(24deg) rotateZ(-4deg) rotateX(-3deg);
  -ms-transform: rotateY(24deg) rotateZ(-4deg) rotateX(-3deg);
  -webkit-transform: rotateY(24deg) rotateZ(-4deg) rotateX(-3deg);
  transform: rotateY(24deg) rotateZ(-4deg) rotateX(-3deg);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.avatars__item_4 {
  left: 49%;
  bottom: 40%;
}
.avatars__item_4 img {
  width: 38px;
  height: 42px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.avatars__item_5 {
  left: 61.5%;
  bottom: 40%;
}
.avatars__item_5 img {
  width: 44px;
  height: 44px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.avatars__item_6 {
  left: 71%;
  bottom: 36%;
}
.avatars__item_6 img {
  width: 26px;
  height: 53px;
  -moz-transform: rotateY(4deg) rotateZ(0deg) rotateX(9deg);
  -ms-transform: rotateY(4deg) rotateZ(0deg) rotateX(9deg);
  -webkit-transform: rotateY(4deg) rotateZ(0deg) rotateX(9deg);
  transform: rotateY(4deg) rotateZ(0deg) rotateX(9deg);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.avatars__item_7 {
  left: 53%;
  bottom: 27%;
}

/******************************** video ********************************/
.video {
  width: inherit;
  text-align: center;
}

.video__button {
  display: inline-block;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #0F294C url('../img/common/icons/watch.png?1415948688') no-repeat 60% 50%;
  margin: 0 15px;
}
.video__button:hover {
  opacity: .7;
}

.video__text {
  font-family: "Museo bold", Helvetica, Arial, sans-serif;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 85px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #FFF;
}

/******************************** store ********************************/
.store {
  width: inherit;
  height: inherit;
}

.store__google, .store__apple, .store__total {
  display: inline-block;
}

.store__google {
  background-position: 0 -123px;
  width: 255px;
  height: 80px;
}

.store__apple {
  background-position: 0 0;
  width: 255px;
  height: 80px;
}

.store__total {
  width: 100px;
  height: inherit;
  margin: 0 50px;
  vertical-align: top;
}
.store__total p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 170%;
}

.store__icon {
  display: inline-block;
  background-position: 0 -259px;
  width: 32px;
  height: 27px;
}

/******************************** inner-page ********************************/
.inner-page {
  background-color: #0F294C;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI0JSIgc3RvcC1jb2xvcj0iIzA5MTkyZSIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjMGYyOTRjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(4%, #09192e), color-stop(20%, #0f294c));
  background-image: -moz-linear-gradient(#09192e 4%, #0f294c 20%);
  background-image: -webkit-linear-gradient(#09192e 4%, #0f294c 20%);
  background-image: linear-gradient(#09192e 4%, #0f294c 20%);
}

.inner-page__title {
  position: relative;
  padding: 73px 0 60px 0;
  margin-bottom: 40px;
  font-family: "Museo superLight", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 52px;
  line-height: 130%;
}
.inner-page__title .title-separator {
  border-top: 1px solid #288600;
  width: 170px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -85px;
}

.inner-page__content {
  margin-top: 100px;
}

.inner-page__text {
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.inner-page__menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 0 60px;
  margin-top: 39px;
}

.inner-page_features {
  background: url("/img/getTheApp/feature/bg.jpg");
  height: 780px;
  background-repeat: no-repeat;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  width: 100%;
  margin-top: 80px;
}

.inner-page_screens {
  position: relative;
  padding-bottom: 80px;
}

/******************************** stage-list ********************************/
.stage-list {
  width: 100%;
  margin-top: 122px;
  position: relative;
}

.stage-list__content {
  margin: 0 85px;
}

/******************************** stage ********************************/
.stage {
  text-align: left;
  position: relative;
  margin-bottom: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(127, 149, 187, 0.17);
}
.stage:last-child {
  padding-bottom: 70px;
  margin-bottom: 0;
  border-bottom: 0;
}
.stage:last-child .stage__scroll {
  display: none;
}

.stage__num {
  width: 54px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #0067AD;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiMwMDY3YWQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTMyNTkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #0067ad), color-stop(100%, #0a3259));
  background-image: -moz-linear-gradient(#0067ad 20%, #0a3259 100%);
  background-image: -webkit-linear-gradient(#0067ad 20%, #0a3259 100%);
  background-image: linear-gradient(#0067ad 20%, #0a3259 100%);
  position: absolute;
  top: 0;
  left: -85px;
  font-size: 30px;
  color: #FFF;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 1px 0;
}

.stage__text {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(127, 149, 187, 0.17);
}

.stage-text {
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #FFF;
}

.stage-text_trigger {
  font-size: 16px;
  border-bottom: 1px dashed #288600;
  color: #288600;
  cursor: pointer;
}

.stage-text_more {
  display: none;
}
.stage-text_trigger.active + .stage-text_more {
  display: block;
}

.stage-text_hide {
  display: none;
}

.stage__help {
  position: relative;
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 0 240px 0 110px;
}
.stage__help a {
  display: inline;
  color: #36A400;
  text-decoration: none;
  border-bottom: 1px dashed #36A400;
  margin-bottom: 10px;
  line-height: 100%;
}
.stage__help a:hover {
  color: #2e8b00;
}

.stage__content {
  position: relative;
  width: 100%;
  height: 530px;
  background: #0E182D url("/img/howToStart/screen/preloader.gif") 50% 50% no-repeat;
  margin-top: 28px;
  -moz-box-shadow: 0 25px 30px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 25px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.2);
}

.stage__scroll {
  display: block;
  background-position: 0 -369px;
  width: 61px;
  height: 31px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -30px;
  cursor: pointer;
}

.stage__support {
  display: inline-block;
  width: 106px;
  position: absolute;
  top: 0;
  right: 0;
}
.stage__support:after {
  content: "";
  display: block;
  background-position: 0 -309px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: -10%;
  left: -24px;
}

.stage__data {
  margin-right: 25px;
}

.stage__label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .6;
  margin-left: 22px;
}
.stage__label:after {
  content: "";
  display: block;
  background-position: 0 -241px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4%;
  left: -22px;
}

/******************************** scroller ********************************/
.scroller {
  width: 48px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #0F294C;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.scroller__item {
  width: 100%;
}
.scroller__item a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #0067AD;
  text-decoration: none;
}
.scroller__item a:hover {
  color: #FFF;
}

/******************************** tooltip ********************************/
.tooltip-sprite, .tooltip_stage:after, .tooltip_stage.clicked:after, .tooltip_form:after, .tooltip_close, .screen__close, .fancybox-close {
  background-image: url('../img/howToStart/tooltip-sa4a5d404ec.png');
  background-repeat: no-repeat;
}

.tooltip {
  position: relative;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiMzNmE0MDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODg2MDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #36a400), color-stop(100%, #288600));
  background-image: -moz-linear-gradient(#36a400 20%, #288600 100%);
  background-image: -webkit-linear-gradient(#36a400 20%, #288600 100%);
  background-image: linear-gradient(#36a400 20%, #288600 100%);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.tooltip_stage {
  width: 36px;
  height: 36px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
.tooltip_stage:after {
  content: "";
  display: block;
  background-position: 0 -57px;
  width: 11px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -8px;
}
.tooltip_stage.clicked {
  background: #0F294C;
  border: 3px solid #0A3259;
}
.tooltip_stage.clicked:after {
  content: "";
  display: block;
  background-position: 0 0;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  margin-top: -6px;
}

.tooltip_form {
  width: 18px;
  height: 18px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
.tooltip_form:after {
  content: "";
  display: block;
  background-position: 0 -79px;
  width: 6px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3px;
  margin-top: -5px;
}
.tooltip_form:hover {
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) inset;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) inset;
}

.tooltip_shadow {
  -moz-box-shadow: 0 3px 9px #b9cbe2;
  -webkit-box-shadow: 0 3px 9px #b9cbe2;
  box-shadow: 0 3px 9px #b9cbe2;
}

.tooltip_close {
  display: block;
  background-position: 0 -40px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10000000000;
}

.tooltipster-default {
  background: rgba(255, 255, 255, 0.9);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.tooltipster-default .tooltipster-content {
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #0F294C;
  padding: 22px 25px;
  font-size: 14px;
  line-height: 135%;
  text-align: left;
}
.tooltipster-default .tooltipster-content span {
  display: block;
  font-family: "Museo bold", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #0F294C;
  margin-bottom: 10px;
}

.tooltipster-arrow-bottom span,
.tooltipster-arrow-bottom-right span,
.tooltipster-arrow-bottom-left span {
  border-left: 18px solid transparent !important;
  border-right: 18px solid transparent !important;
  border-bottom: 18px solid rgba(255, 255, 255, 0.9) !important;
  top: -18px;
  -moz-transform: skew(44deg);
  -ms-transform: skew(44deg);
  -webkit-transform: skew(44deg);
  transform: skew(44deg);
}

.tooltipster-arrow-top span,
.tooltipster-arrow-top-right span,
.tooltipster-arrow-top-left span {
  border-left: 18px solid transparent !important;
  border-right: 18px solid transparent !important;
  border-top: 18px solid rgba(255, 255, 255, 0.9) !important;
  bottom: -18px;
  -moz-transform: skew(44deg);
  -ms-transform: skew(44deg);
  -webkit-transform: skew(44deg);
  transform: skew(44deg);
}

.tooltipster-arrow-right span {
  border-top: 18px solid transparent !important;
  border-bottom: 18px solid transparent !important;
  border-right: 18px solid rgba(255, 255, 255, 0.9) !important;
  top: 40%;
  margin-top: -18px;
  left: -18px;
  -moz-transform: skewY(-44deg);
  -ms-transform: skewY(-44deg);
  -webkit-transform: skewY(-44deg);
  transform: skewY(-44deg);
}

.tooltipster-arrow-left span {
  border-top: 18px solid transparent !important;
  border-bottom: 18px solid transparent !important;
  border-left: 18px solid rgba(255, 255, 255, 0.9) !important;
  top: 40%;
  margin-top: -18px;
  right: -18px;
  -moz-transform: skewY(44deg);
  -ms-transform: skewY(44deg);
  -webkit-transform: skewY(44deg);
  transform: skewY(44deg);
}

.tooltipster-base {
  z-index: 30;
}

/******************************** screen ********************************/
.screen {
  width: inherit;
  height: inherit;
  -moz-box-shadow: 0 25px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 25px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}
.screen img {
  display: block;
  width: inherit;
  height: inherit;
}

.screen__item {
  display: none;
  width: 36px;
  height: 36px;
  position: absolute;
}

.screen_connect .screen__item_1 {
  left: 30%;
  bottom: 80px;
}
.screen_connect .screen__item_2 {
  right: 22%;
  bottom: 15px;
}

.screen_sign-up .screen__item_1 {
  left: 26.5%;
  top: 200px;
}
.screen_sign-up .screen__item_2 {
  right: 26.5%;
  top: 200px;
}
.screen_sign-up .screen__item_3 {
  left: 26.5%;
  bottom: 34px;
}

.screen__info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 41, 76, 0.9);
  padding: 50px 30px 20px 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 35;
}

.screen__text {
  margin-top: 20px;
}

.screen__close {
  display: block;
  background-position: 0 -19px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
}

/******************************** facebook ********************************/
.facebook {
  background-color: #FFF;
  padding: 20px 0 40px 0;
  overflow: hidden;
}

/******************************** footer ********************************/
.footer {
  background-color: #FFF;
  text-align: left;
}

.footer-menu__col {
  width: 17.79661%;
  float: left;
  margin-right: 1.69492%;
}

.footer-menu__title {
  font-family: "Museo superBold", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #288600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-menu__links a {
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #0F294C;
  text-decoration: none;
}
.footer-menu__links a:hover {
  color: #0067AD;
}

.footer-menu__buttons li:first-child {
  margin: 13px 0 25px 0;
}
.footer-menu__buttons a {
  padding: 11px 18px;
  background-color: #288600;
  font-family: "Museo light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.footer-menu__buttons a:hover {
  background-color: #36A400;
}

.footer__bottom {
  padding: 51px 0 21px 0;
}

.footer__copy {
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(15, 41, 76, 0.6);
}

/******************************** form ********************************/
input, select, textarea {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input:not([type="submit"]) {
  height: 42px;
}

textarea {
  height: 110px;
}

.form {
  margin: 28px 6px 16px 34px;
  text-align: left;
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #0F294C;
}

.form__title {
  font-family: "Museo light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 31px;
}

.form__text {
  font-size: 17px;
  width: 66.10169%;
  margin-top: 30px;
}

.form__note {
  margin: 30px 0;
  font-size: 15px;
  color: #596981;
}
.form__note span {
  color: #36A400;
}

.form__row {
  margin-bottom: 17px;
}

.form__label {
  display: inline-block;
  width: 19.49153%;
  font-size: 15px;
  color: #596981;
}

.form__field {
  display: inline-block;
  width: 53.38983%;
}

.form__tooltip {
  display: inline-block;
  vertical-align: middle;
}

.form__button {
  position: relative;
  left: 5px;
  width: 24.57627%;
  height: 56px;
  border: none;
  outline: none;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiMwMDY3YWQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTMyNTkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #0067ad), color-stop(100%, #0a3259));
  background-image: -moz-linear-gradient(#0067ad 20%, #0a3259 100%);
  background-image: -webkit-linear-gradient(#0067ad 20%, #0a3259 100%);
  background-image: linear-gradient(#0067ad 20%, #0a3259 100%);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 19px;
  color: #FFF;
}
.form__button:first-child {
  margin-left: 19.49153%;
}
.form__button:first-child + .form__button {
  left: 20px;
}
.form__button:disabled {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiNlYWVkZjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNWRiZTIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eaedf1), color-stop(100%, #d5dbe2));
  background-image: -moz-linear-gradient(#eaedf1 20%, #d5dbe2 100%);
  background-image: -webkit-linear-gradient(#eaedf1 20%, #d5dbe2 100%);
  background-image: linear-gradient(#eaedf1 20%, #d5dbe2 100%);
  color: #B4BAC2;
}

#form_big, #form_small {
  display: none;
}

.fancybox-close {
  background-position: 0 -19px;
  width: 16px;
  height: 16px;
  top: 18px;
  right: 18px;
}

/******************************** content-scroll ********************************/
#content-scroll {
  display: none;
  width: 200px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  bottom: 0;
  right: 45px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiMwMDY3YWQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTMyNTkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #0067ad), color-stop(100%, #0a3259));
  background-image: -moz-linear-gradient(#0067ad 20%, #0a3259 100%);
  background-image: -webkit-linear-gradient(#0067ad 20%, #0a3259 100%);
  background-image: linear-gradient(#0067ad 20%, #0a3259 100%);
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: #FFF;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 1px 0;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}
#content-scroll:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 30%;
  margin-top: -6px;
  margin-left: -9px;
  background-position: 0 -40px;
  width: 18px;
  height: 13px;
}

/******************************** social ********************************/
.social {
  padding: 125px 0 139px;
  background: #0F294C;
}

.social__item {
  width: 16.94915%;
  float: left;
  margin-right: 1.66667%;
  height: 80px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2.94118%;
}
.social__item a {
  display: block;
  height: inherit;
  line-height: 80px;
}
.social__item img {
  display: inline-block;
  vertical-align: middle;
}

/******************************** devices ********************************/
.devices__img {
  display: block;
  max-width: 360px;
  max-height: 373px;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.devices__type {
  width: 66.10169%;
  float: right;
  margin-right: 0;
}

/******************************** device-list ********************************/
.device-top__item, .device-top__item_1, .device-top__item_2, .device-top__item_3, .device-top__item_4 {
  display: block;
  float: left;
  margin: 0 2.94118% 70px 2.94118%;
}

.device-top__item_1 {
  background-image: url("/img/getTheApp/devicesTop/device_1.png");
  width: 318px;
  height: 77px;
  background-repeat: no-repeat !important;
  background-position: 0 0;
}
.device-top__item_1:hover {
  background-position: 0 100%;
}

.device-top__item_2 {
  background-image: url("/img/getTheApp/devicesTop/device_2.png");
  width: 318px;
  height: 77px;
  background-repeat: no-repeat !important;
  background-position: 0 0;
}
.device-top__item_2:hover {
  background-position: 0 100%;
}

.device-top__item_3 {
  background-image: url("/img/getTheApp/devicesTop/device_3.png");
  width: 318px;
  height: 77px;
  background-repeat: no-repeat !important;
  background-position: 0 0;
}
.device-top__item_3:hover {
  background-position: 0 100%;
}

.device-top__item_4 {
  background-image: url("/img/getTheApp/devicesTop/device_4.png");
  width: 318px;
  height: 77px;
  background-repeat: no-repeat !important;
  background-position: 0 0;
}
.device-top__item_4:hover {
  background-position: 0 100%;
}

.device-bottom {
  padding-left: 3.44828%;
  position: relative;
  top: -10px;
}

.device-bottom__item, .device-bottom__item_1, .device-bottom__item_2, .device-bottom__item_3, .device-bottom__item_4 {
  display: block;
  float: left;
}

.device-bottom__item_1 {
  background: url("/img/getTheApp/devicesBottom/device_1.png");
  width: 167px;
  height: 79px;
  background-repeat: no-repeat !important;
  background-position: 0 0;
}
.device-bottom__item_1:hover {
  background-position: 0 100%;
}

.device-bottom__item_2 {
  background: url("/img/getTheApp/devicesBottom/device_2.png");
  width: 167px;
  height: 79px;
  background-repeat: no-repeat !important;
  background-position: 0 0;
}
.device-bottom__item_2:hover {
  background-position: 0 100%;
}

.device-bottom__item_3 {
  background: url("/img/getTheApp/devicesBottom/device_3.png");
  width: 167px;
  height: 79px;
  background-repeat: no-repeat !important;
  background-position: 0 0;
}
.device-bottom__item_3:hover {
  background-position: 0 100%;
}

.device-bottom__item_4 {
  background: url("/img/getTheApp/devicesBottom/device_4.png");
  width: 167px;
  height: 79px;
  background-repeat: no-repeat !important;
  background-position: 0 0;
}
.device-bottom__item_4:hover {
  background-position: 0 100%;
}

/******************************** screenshot ********************************/
.screenshots {
  padding: 25px 143px 0 138px;
  background: url("/img/getTheApp/screenShots/phone.png");
  height: 421px;
  width: 941px;
  border: none;
}
.screenshots .flex-control-nav, .screenshots .flex-direction-nav {
  display: none;
}

.screenshots__bg_1 {
  position: absolute;
  top: -36px;
  left: -251px;
  background: url("/img/getTheApp/screenShots/bg_left.png");
  height: 525px;
  width: 695px;
}

.screenshots__bg_2 {
  position: absolute;
  top: -132px;
  right: -239px;
  background: url("/img/getTheApp/screenShots/bg_right.png");
  height: 542px;
  width: 746px;
}

/******************************** slider ********************************/
.flexslider {
  max-width: 960px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/******************************** features ********************************/
.feature {
  position: relative;
  height: 100%;
}
.feature:after {
  content: "";
  display: block;
  height: 100%;
  background: url("/img/getTheApp/feature/cosplay.png");
  height: 745px;
  width: 604px;
  background-repeat: no-repeat;
  background-position-y: 100%;
  position: absolute;
  bottom: 0;
  left: -100px;
}

.feature__info {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  text-align: left;
}

.feature__title {
  font-family: "Museo superLight", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 50px;
  line-height: 120%;
  margin-top: 49px;
}

.feature__type {
  margin-top: 57px;
}

.feature-type-item, .feature-type-item_1, .feature-type-item_2, .feature-type-item_3 {
  position: relative;
  padding-left: 112px;
  font-family: "Museo superBold", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 50px;
}

.feature-type-item_1:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  background: url("/img/getTheApp/feature/types/type_1.png");
  width: 89px;
  height: 58px;
  background-position-x: 50%;
  background-repeat: no-repeat !important;
}

.feature-type-item_2:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  background: url("/img/getTheApp/feature/types/type_2.png");
  width: 89px;
  height: 71px;
  background-position-x: 50%;
  background-repeat: no-repeat !important;
}

.feature-type-item_3:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  background: url("/img/getTheApp/feature/types/type_3.png");
  width: 89px;
  height: 70px;
  background-position-x: 50%;
  background-repeat: no-repeat !important;
}

.feature__list {
  margin-top: 70px;
}
.feature__list li {
  position: relative;
  margin-top: 17px;
  padding-left: 18px;
  font-family: "Museo", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.feature__list li:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #288600;
  position: absolute;
  top: 20%;
  left: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
