<!doctype html>
<html lang="{{ App.language }}">
<head>
	<meta charset="UTF-8">
	<title>{{ this.pageTitle }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.min.css"/>
</head>
<body>
{{ include('common/header.twig') }}
{{ block('content') }}
<script src="/vendor/jquery.min.js"></script>

<script src="/js/main.js"></script>
<script src="/vendor/jquery.liActualSize.js"></script>
</body>
</html>
