<div class="social">
	<ul class="layout">
		<li class="social__item"><a href="#"><img src="/img/common/social/fb.png" alt="Facebook"/></a></li>
		<li class="social__item"><a href="#"><img src="/img/common/social/tw.png" alt="Twitter"/></a></li>
		<li class="social__item"><a href="#"><img src="/img/common/social/ok.png" alt="Odnoklassniki"/></a></li>
		<li class="social__item"><a href="#"><img src="/img/common/social/vk.png" alt="Vkontakte"/></a></li>
		<li class="social__item"><a href="#"><img src="/img/common/social/youtube.png" alt="Youtube"/></a></li>
	</ul>
</div>
<div class="facebook">
	<div class="layout">
		<div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-width="1110px" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
	</div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<footer class="footer">
	<div class="footer-menu layout">
		<div class="footer-menu__col">
			<h2 class="footer-menu__title">Pokerist</h2>
			<ul class="footer-menu__links">
				<li><a href="">Home</a></li>
				<li><a href="">How to play</a></li>
				<li><a href="">Promo video</a></li>
				<li><a href="">For partners</a></li>
				<li><a href="">Terms of use</a></li>
				<li><a href="">Privacy policy</a></li>
				<li><a href="">Support</a></li>
			</ul>
		</div><!--/footer-menu__col -->
		<div class="footer-menu__col">
			<h2 class="footer-menu__title">Get the app</h2>
			<ul class="footer-menu__links">
				<li><a href="">Play on website</a></li>
				<li><a href="">iPhone</a></li>
				<li><a href="">iPad</a></li>
				<li><a href="">Android</a></li>
				<li><a href="">Bada</a></li>
				<li><a href="">Windows Phone</a></li>
				<li><a href="">Facebook</a></li>
				<li><a href="">Vkontakte</a></li>
				<li><a href="">Odnoklassniki</a></li>
				<li><a href="">Mac OS</a></li>
			</ul>
		</div><!--/footer-menu__col -->
		<div class="footer-menu__col">
			<h2 class="footer-menu__title">Blog</h2>
			<ul class="footer-menu__links">
				<li><a href="">Academy</a></li>
				<li><a href="">Articles</a></li>
				<li><a href="">Question of the week</a></li>
				<li><a href="">Poker rules</a></li>
				<li><a href="">Poker hands</a></li>
				<li><a href="">Seat places</a></li>
				<li><a href="">Tournaments</a></li>
				<li><a href="">Glossary</a></li>
			</ul>
		</div><!--/footer-menu__col -->
		<div class="footer-menu__col">
			<h2 class="footer-menu__title">Account</h2>
			<ul class="footer-menu__links">
				<li><a href="">My Profile</a></li>
				<li><a href="">Sign In</a></li>
				<li><a href="">Sign Up</a></li>
				<li><a href="">Connect with Facebook</a></li>
			</ul>
		</div><!--/footer-menu__col -->
		<div class="footer-menu__col">
			<ul class="footer-menu__buttons">
				<li><a href="">Play now</a></li>
				<li><a href="">Buy Chips & Gold</a></li>
			</ul>
		</div><!--/footer-menu__col -->
	</div>
	<div class="footer__bottom layout">
		<p class="footer__copy">Copyright &copy; 2014  KamaGames Ltd. All rights reserved.</p>
		<div class="footer__social"></div>
	</div>
</footer>
