<div class="toolbar">
	  <div class="layout">
			<div class="toolbar__lang">
				<ul class="lang">
					<li class="lang__en active"></li>
					<li class="lang__ru"></li>
				</ul>
			</div>
		  	<div class="toolbar__login">
				<div class="login"><a class="link" href="#">Sign up</a><span>or</span><a class="link" href="#">Sign in</a></div>
		  	</div>
		  	<a class="toolbar__support link" href="#">Support center</a>
		  	<div class="toolbar__games">
				<ul class="game-switcher">
					<li class="game-switcher__poker">Poker</li>
					<li class="game-switcher__casino">Casino</li>
				</ul>
		  	</div>
	  </div>
</div>
<div class="header layout">
	<div class="header__logo">
		<a class="logo" href="/"></a>
	</div>
	<div class="header__menu">
		<ul class="menu menu_main">
			<li class="menu__item"><a href="#">Play now</a></li>
			<li class="menu__item"><a href="#">Buy chips & Gold</a></li>
			<li class="menu__item"><a href="{{ this.createUrl('main/getTheApp') }}">Get the App</a></li>
			<li class="menu__item"><a href="{{ this.createUrl('scenario/index') }}">How to start</a></li>
			<li class="menu__item"><a href="#">Blog</a></li>
		</ul>
	</div>
	<div class="header__share">
		<div class="share">
			<div class="share__button"></div>
			<ul class="share__content"></ul>
		</div>
	</div>
</div>
