<h1 class="colored_white">Error #{{ error['code'] }}</h1>

<div class="colored_white">
	{% if error['code'] == 404 %}
		<p>{{ Yii.t('errors', 'The page you are looking for doesn&rsquo;t exist anymore or&nbsp;never was. Please go&nbsp;to&nbsp;the <a href=":link">Main Page</a>', {':link': this.createUrl('main/index')}) }}</p>
	{% else %}
		<p>{{ error.message }}</p>
	{% endif %}
</div>

