{% extends 'layouts/common.twig' %}
{% block content %}
<div class="inner-page">
	<div class="inner-page__header layout">
		<h2 class="inner-page__title">
			Play Pokerist Texas Poker —<br />
			available on mobile device and social network
			<i class="title-separator"></i>
		</h2>
		<p class="inner-page__text">Play with real people whenever and wherever you want. Just choose a table and get ready for tough competition! Make your own poker success story, and good luck at the poker tables!</p>
	</div>
	<div class="inner-page__content layout">
		<div class="devices">
			<img class="devices__img" src="/img/getTheApp/cosplay.jpg" alt="Karmen"/>
			<div class="devices__type">
					<div class="device-top">
						<a class="device-top__item_1" href="#"></a>
						<a class="device-top__item_2" href="#"></a>
						<a class="device-top__item_3" href="#"></a>
						<a class="device-top__item_4" href="#"></a>
					</div>
					<div class="device-bottom">
						<a class="device-bottom__item_1" href="#"></a>
						<a class="device-bottom__item_2" href="#"></a>
						<a class="device-bottom__item_3" href="#"></a>
						<a class="device-bottom__item_4" href="#"></a>
					</div>
			</div>
		</div>
	</div>
	<h2 class="inner-page__title">
		Screenshots
		<i class="title-separator"></i>
	</h2>
	<p class="inner-page__text">Easy-to-use, attractive interface: one tap call, raise, check, fold.<br />Check it out!</p>
	<div class="inner-page__content inner-page_screens layout">
		<i class="screenshots__bg_1"></i>
		<i class="screenshots__bg_2"></i>
		<div class="screenshots flexslider">
			<ul class="slides">
				<li class="slide"><img src="/img/getTheApp/screenShots/screen_1.jpg" alt=""/></li>
				<li class="slide"><img src="/img/getTheApp/screenShots/screen_1.jpg" alt=""/></li>
				<li class="slide"><img src="/img/getTheApp/screenShots/screen_1.jpg" alt=""/></li>
			</ul>
		</div>
	</div>
	<div class="inner-page_features">
		<div class="feature  layout">
				<div class="feature__info">
					<h3 class="feature__title">Feature Pokerist<br />Texas Hold’em Poker</h3>
					<ul class="feature__type">
						<li class="feature-type-item_1">ABSOLUTELY<br />FREE TO PLAY</li>
						<li class="feature-type-item_2">THOUSANDS OF PLAYERS<br />ONLINE DAILY</li>
						<li class="feature-type-item_3">FREE CHIPS IN DAILY<br />LOTTERIES</li>
					</ul>
					<ul class="feature__list">
						<li>Chat with other players, buy gifts, earn achievements</li>
						<li>Invite your friends to join you via E-mail and Facebook and get bonuses</li>
						<li>Take part in Sit’n’Go tournaments</li>
						<li>An opportunity to play at two tables simultaneously</li>
						<li>One account for playing on mobile devices and in social networks</li>
						<li>In app tutorial</li>
					</ul>
				</div>
		</div>
	</div>


</div>
	{{ include('common/footer.twig') }}

{% endblock %}
