{% extends 'layouts/common.twig' %}
{% block content %}
<div class="poker-room">
	<div class="poker-room__bg_load"></div>
	<div class="poker-room__flash wow fadeIn animated" data-wow-duration=".3s" data-wow-iteration="1" data-wow-delay="2s"></div>
	<div class="poker-room__background  wow fadeIn animated" data-wow-duration="1s" data-wow-iteration="1" data-wow-delay="2.4s"></div>
	<div class="poker-room__glows">
		<i class="glow glow_1  wow fadeIn animated" data-wow-duration=".3s" data-wow-iteration="1"></i>
		<i class="glow glow_2  wow fadeIn animated" data-wow-duration=".3s" data-wow-iteration="1" data-wow-delay="1.4s"></i>
		<i class="glow glow_3  wow fadeIn animated" data-wow-duration=".3s" data-wow-iteration="1" data-wow-delay="1s"></i>
		<i class="glow glow_4  wow fadeIn animated" data-wow-duration=".3s" data-wow-iteration="1" data-wow-delay="1.6s"></i>
		<i class="glow glow_5  wow fadeIn animated" data-wow-duration=".3s" data-wow-iteration="1" data-wow-delay=".4s"></i>
		<i class="glow glow_6  wow fadeIn animated" data-wow-duration=".3s" data-wow-iteration="1" data-wow-delay="1.2s"></i>
		<i class="glow glow_7  wow fadeIn animated" data-wow-duration=".3s" data-wow-iteration="1" data-wow-delay="0.6s"></i>
		<i class="glow glow_8  wow fadeIn animated" data-wow-duration=".3s" data-wow-iteration="1" data-wow-delay="1.4s"></i>
		<i class="glow glow_9  wow fadeIn animated" data-wow-duration=".3s" data-wow-iteration="1" data-wow-delay="0.6s"></i>
	</div>
	<div class="poker-room__table wow fadeIn animated" data-wow-duration="1s" data-wow-iteration="1" data-wow-delay="2.6s"></div>
	<div class="poker-room__carmen wow fadeIn animated" data-wow-duration="1s" data-wow-iteration="1" data-wow-delay="2.7s"></div>
	<div class="poker-room__palm_left wow fadeIn animated" data-wow-duration="1s" data-wow-iteration="1" data-wow-delay="2.7s"></div>

	<div class="avatars">
		<div class="avatars__item avatars__item_1 wow bounceInDown animated" data-wow-duration="1.5s" data-wow-iteration="1" data-wow-delay="4s"><img src="img/mainPage/avatars/1.png" alt=""/></div>
		<div class="avatars__item avatars__item_2 wow bounceInDown animated" data-wow-duration="1.5s" data-wow-iteration="1" data-wow-delay="4.2s"><img src="img/mainPage/avatars/2.png" alt=""/></div>
		<div class="avatars__item avatars__item_3 wow bounceInDown animated" data-wow-duration="1.5s" data-wow-iteration="1" data-wow-delay="4.4s"><img src="img/mainPage/avatars/3.png" alt=""/></div>
		<div class="avatars__item avatars__item_4 wow bounceInDown animated" data-wow-duration="1.5s" data-wow-iteration="1" data-wow-delay="4.6s"><img src="img/mainPage/avatars/4.png" alt=""/></div>
		<div class="avatars__item avatars__item_5 wow bounceInDown animated" data-wow-duration="1.5s" data-wow-iteration="1" data-wow-delay="4.8s"><img src="img/mainPage/avatars/5.png" alt=""/></div>
		<div class="avatars__item avatars__item_6 wow bounceInDown animated" data-wow-duration="1.5s" data-wow-iteration="1" data-wow-delay="5s"><img src="img/mainPage/avatars/6.png" alt=""/></div>
		<div class="avatars__item avatars__item_7 avatars__play wow bounceInDown animated" data-wow-duration="1.5s" data-wow-iteration="1" data-wow-delay="5.2s"></div>
	</div>

	<div class="poker-room__video wow fadeIn animated" data-wow-duration="1s" data-wow-iteration="1" data-wow-delay="8s">
		<div class="video">
			<span class="video__text">Watch</span>
			<a href="#" class="video__button"></a>
			<span class="video__text">Trailer</span>
		</div>
	</div>

	<div class="poker-room__store wow fadeIn animated" data-wow-duration="1s" data-wow-iteration="1" data-wow-delay="8.5s">
		<div class="store">
			<a class="store__apple" href=""></a>
			<div class="store__total">
				<i class="store__icon"></i>
				<p class="store__label">Players online</p>
				<p class="store__count">24,325</p>
			</div>
			<a class="store__google" href=""></a>
		</div>
	</div>
	<p class="poker-room__copy wow fadeIn animated" data-wow-duration="1s" data-wow-iteration="1" data-wow-delay="9s">Copyright &copy; Kamagames Ltd. All right reserved</p>
</div>
{% endblock %}
