<h3 class="form__title">Не нашли ответа на вопрос? Напишите нам!</h3>
<p class="form__text">Задайте ваш вопрос и оставьте контактные данные. Cотрудник службы поддержки ответит вам в течение 24 часов.</p>
<p class="form__note">Поля, помеченныйе звездочкой «<span>*</span>» обязательны для заполнения.</p>
