<div class="form">
	{{ include('feedback/message/intro.twig') }}
	<div class="form__content">
		{#{% set formIsActive = App.request.isPostRequest or App.user.hasFlash('support_success')  %}#}
		{#{% set form = this.beginWidget('CActiveForm', { id: 'support-form', enableAjaxValidation: false, htmlOptions: {novalidate: true, class: 'form form__support ' ~ (formIsActive? 'active': '')} }) %}#}
		{#{{ include('feedback/fields/error.twig', {form: form, model: message, header: '<p class="form-message">Please fill the required field</p>'}) }}#}
		{#{{ include('feedback/fields/text.twig', {form: form, model: message, field: 'name'}) }}#}
		{#{{ include('feedback/fields/text.twig', {form: form, model: message, field: 'company'}) }}#}
		{#{{ include('feedback/fields/email.twig', {form: form, model: message, field: 'email'}) }}#}
		{#{{ include('feedback/fields/textarea.twig', {form: form, model: message, field: 'message'}) }}#}
		{#&#123;&#35;{{ include('feedback/fields/checkbox.twig', {form: form, model: message, field: 'subscribe'}) }}&#35;&#125;#}
		{#{{ include('feedback/fields/antibot.twig', {form: form, model: message, field: 'antibot'}) }}#}
		{#<div class="form__row">#}
			{#<div class="form__button">#}
				{#<input class="button button_big button_orange button_background_orange" type="submit" value='Submit'>#}
			{#</div>#}
		{#</div>#}

		{#{% do this.endWidget() %}#}
		<form action="#">
			{#{{ include('feedback/fields/text.twig') }}#}
			{#{{ include('feedback/fields/email.twig') }}#}
			{#{{ include('feedback/fields/select.twig') }}#}
			{#{{ include('feedback/fields/select_dev.twig') }}#}
			{#{{ include('feedback/fields/select_plat.twig') }}#}
			{#{{ include('feedback/fields/select_title.twig') }}#}
			{{ include('feedback/fields/select_question.twig') }}
			{{ include('feedback/fields/textarea.twig') }}
			<div class="form__row">
					<input class="form__button" type="submit" disabled value='Назад'>
					<input class="form__button" type="submit" value='Далее'>
			</div>
		</form>
	</div>
</div>

