{% extends 'layouts/common.twig' %}
{% block content %}
<div class="inner-page">
	<div class="inner-page__header layout">
		<h2 class="inner-page__title">
			How to start play on Pokerist Texas Poker
			<i class="title-separator"></i>
		</h2>
		<p class="inner-page__text">Play with real people whenever and wherever you want. Just choose a table and get ready for tough competition! Make your own poker success story, and good luck at the poker tables!</p>
	</div>

	<div class="inner-page__menu layout">
		<ul class="menu_support">
				<a class="menu__item active link" data-id="" href="#welcome"><i class="icon"></i><span><b>Добро</b><br/><b>пожаловать</b></span></a>
				<a class="menu__item link"  href="#chips-and-gold"><i class="icon"></i><span><b>Фишки</b><br/><b>и золото</b></span></a>
				<a class="menu__item link" href=""><i class="icon"></i><span><b>Друзья</b><br/><b>и общение</b></span></a>
				<a class="menu__item link" href=""><i class="icon"></i><span><b>Имущество</b><br/><b>и подарки</b></span></a>
				<a class="menu__item link" href=""><i class="icon"></i><span><b>Имущество</b><br/><b>и подарки</b></span></a>
				<a class="menu__item link" href=""><i class="icon"></i><span><b>Имущество</b><br/><b>и подарки</b></span></a>
		</ul>
	</div>
	<div class="inner-page__content layout">
		<div class="stage-list">
			<div class="stage-list__content">
				{{ include('/main/howToStart/welcome.twig') }}
				{{ include('/main/howToStart/chipsAndGold.twig') }}
			</div>
		</div>
	</div>
	<div id="form_big">
		{{ include('feedback/feedback.twig', {message: message}) }}
	</div>
	<div id="form_small">
		{{ include('feedback/feedback_small.twig', {message: message}) }}
	</div>
</div>
	{{ include('common/footer.twig') }}

{% endblock %}