<div id="welcome" class="support-page">
	<div id="stage1" class="stage">
		<div class="stage__num">1</div>
		<div class="stage__text">
			<p class="stage-text">Для работы приложения требуется Интернет.<br />Голубой индикатор отображает процесс активации и подключения.</p>
			<span class="stage-text stage-text_trigger js-show-text">Подробнее</span>
			<p class="stage-text stage-text_more">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem dolore fugit hic nostrum nulla quae repellat saepe voluptatem voluptatibus! Accusamus adipisci aliquam aliquid autem consectetur consequuntur corporis cupiditate eaque eos, eveniet ex excepturi in ipsam maiores maxime natus neque non nulla numquam odit placeat possimus quisquam quo quod sed sint sunt temporibus tenetur veritatis voluptas. A laborum tenetur voluptate! Consectetur exercitationem itaque laborum minus nostrum perferendis quae totam! Asperiores at aut blanditiis cum dignissimos dolores dolorum eligendi enim id ipsam minima natus neque similique sint temporibus, tenetur ut! At delectus eum ex, laboriosam mollitia nesciunt quaerat qui tenetur vero.</p>
			<span class="stage-text stage-text_trigger stage-text_hide js-hide-text">Скрыть</span>
		</div>
		<p class="stage__help">
			<span class="stage__label">См. также:</span>
			<a href="#" class="stage__data" data-screen = "connect">Отсутвует подключение</a>
			<a href="#" class="stage__data" data-screen = "error">Сбой подключение</a>
			<a href="#" class="stage__data" data-screen = "error">Сбой подключение</a>
			<a href="#" class="stage__data" data-screen = "error">Сбой подключение</a>
			<a href="#" class="stage__data" data-screen = "error">Сбой подключение</a>
			<a href="#" class="stage__data" data-screen = "error">Сбой подключение</a>
			<a class="stage__support fancybox" href="#form_big">Задать вопрос</a>
		</p>
		<div class="stage__content">
			<div  class="screen screen_connect">
				<img src="/img/howToStart/screen/connect.jpg" alt="Internet connection"/>
				<div class="screen__item screen__item_1"><i class="tooltip tooltip_stage" title="<span>Статус подключения</span>Регистрироваться в Pokerist необязательно: вы сразу можете зайти как гость либо воспользоваться аккаунтом в Pokerist вы сразу можете зайти как гость либо воспользоваться Facebook-аккаунтом."></i></div>
				<div class="screen__item screen__item_2"><i class="tooltip tooltip_stage" title="<span>Статус подключения</span>Регистрироваться в Pokerist необязательно: вы сразу можете зайти как гость либо воспользоваться аккаунтом в Pokerist вы сразу можете зайти как гость либо воспользоваться Facebook-аккаунтом."></i></div>
				<div id="connect" class="screen__info">
					<p class="screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae delectus deleniti expedita maiores nobis quidem quisquam saepe sit! Alias aliquid corporis dolorum esse expedita fugit hic inventore, magni minima minus mollitia nemo obcaecati placeat quibusdam quidem similique ut veniam. Accusantium aliquid beatae corporis est nobis perferendis placeat, possimus sequi voluptatibus? Accusantium aperiam consequatur dolor dolorem doloremque ea eius eligendi est et iste laboriosam maxime minima nesciunt quaerat qui quidem quis, reiciendis tempore tenetur totam? Accusantium atque corporis delectus, dolores dolorum eveniet hic illum impedit inventore, iste itaque maiores modi nobis odit quaerat recusandae sint tenetur unde vero voluptate.</p>
					<p class="screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae delectus deleniti expedita maiores nobis quidem quisquam saepe sit! Alias aliquid corporis dolorum esse expedita fugit hic inventore, magni minima minus mollitia nemo obcaecati placeat quibusdam quidem similique ut veniam. Accusantium aliquid beatae corporis est nobis perferendis placeat, possimus sequi voluptatibus? Accusantium aperiam consequatur dolor dolorem doloremque ea eius eligendi est et iste laboriosam maxime minima nesciunt quaerat qui quidem quis, reiciendis tempore tenetur totam? Accusantium atque corporis delectus, dolores dolorum eveniet hic illum impedit inventore, iste itaque maiores modi nobis odit quaerat recusandae sint tenetur unde vero voluptate.</p>
					<i class="screen__close"></i>
				</div>
				<div id="error" class="screen__info">
					<p class="screen__text">Error Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae delectus deleniti expedita maiores nobis quidem quisquam saepe sit! Alias aliquid corporis dolorum esse expedita fugit hic inventore, magni minima minus mollitia nemo obcaecati placeat quibusdam quidem similique ut veniam. Accusantium aliquid beatae corporis est nobis perferendis placeat, possimus sequi voluptatibus? Accusantium aperiam consequatur dolor dolorem doloremque ea eius eligendi est et iste laboriosam maxime minima nesciunt quaerat qui quidem quis, reiciendis tempore tenetur totam? Accusantium atque corporis delectus, dolores dolorum eveniet hic illum impedit inventore, iste itaque maiores modi nobis odit quaerat recusandae sint tenetur unde vero voluptate.</p>
					<p class="screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae delectus deleniti expedita maiores nobis quidem quisquam saepe sit! Alias aliquid corporis dolorum esse expedita fugit hic inventore, magni minima minus mollitia nemo obcaecati placeat quibusdam quidem similique ut veniam. Accusantium aliquid beatae corporis est nobis perferendis placeat, possimus sequi voluptatibus? Accusantium aperiam consequatur dolor dolorem doloremque ea eius eligendi est et iste laboriosam maxime minima nesciunt quaerat qui quidem quis, reiciendis tempore tenetur totam? Accusantium atque corporis delectus, dolores dolorum eveniet hic illum impedit inventore, iste itaque maiores modi nobis odit quaerat recusandae sint tenetur unde vero voluptate.</p>
					<i class="screen__close"></i>
				</div>
			</div>
		</div>
		<i class="stage__scroll"></i>
	</div>
	<div id="stage2" class="stage">
		<div class="stage__num">2</div>
		<div class="stage__text">
			<p class="stage-text">Для работы приложения требуется Интернет.<br />Голубой индикатор отображает процесс активации и подключения.</p>
			<span class="stage-text stage-text_trigger js-show-text">Подробнее</span>
			<p class="stage-text stage-text_more">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem dolore fugit hic nostrum nulla quae repellat saepe voluptatem voluptatibus! Accusamus adipisci aliquam aliquid autem consectetur consequuntur corporis cupiditate eaque eos, eveniet ex excepturi in ipsam maiores maxime natus neque non nulla numquam odit placeat possimus quisquam quo quod sed sint sunt temporibus tenetur veritatis voluptas. A laborum tenetur voluptate! Consectetur exercitationem itaque laborum minus nostrum perferendis quae totam! Asperiores at aut blanditiis cum dignissimos dolores dolorum eligendi enim id ipsam minima natus neque similique sint temporibus, tenetur ut! At delectus eum ex, laboriosam mollitia nesciunt quaerat qui tenetur vero.</p>
			<span class="stage-text stage-text_trigger stage-text_hide js-hide-text">Скрыть</span>
		</div>
		<p class="stage__help">
			<span class="stage__label">См. также:</span>
			<a href="#" class="stage__data" data-screen = "lottery">Как работает лоттерея</a>
			<a href="#" class="stage__data" data-screen = "chips">Купить больше фишек</a>
			<a class="stage__support fancybox" href="#form_small">Задать вопрос</a>
		</p>
		<div class="stage__content">
			<div class="screen screen_sign-up">
				<img src="/img/howToStart/screen/sign-up.jpg" alt="Internet connection"/>
				<div class="screen__item screen__item_1"><i class="tooltip tooltip_stage" title="<span>Статус подключения</span>Регистрироваться в Pokerist необязательно: вы сразу можете зайти как гость либо воспользоваться аккаунтом в Pokerist вы сразу можете зайти как гость либо воспользоваться Facebook-аккаунтом."></i></div>
				<div class="screen__item screen__item_2"><i class="tooltip tooltip_stage" title="<span>Статус подключения</span>Регистрироваться в Pokerist необязательно: вы сразу можете зайти как гость либо воспользоваться аккаунтом в Pokerist вы сразу можете зайти как гость либо воспользоваться Facebook-аккаунтом."></i></div>
				<div class="screen__item screen__item_3"><i class="tooltip tooltip_stage" title="<span>Статус подключения</span>Регистрироваться в Pokerist необязательно: вы сразу можете зайти как гость либо воспользоваться аккаунтом в Pokerist вы сразу можете зайти как гость либо воспользоваться Facebook-аккаунтом."></i></div>
				<div id="lottery" class="screen__info">
					<p class="screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae delectus deleniti expedita maiores nobis quidem quisquam saepe sit! Alias aliquid corporis dolorum esse expedita fugit hic inventore, magni minima minus mollitia nemo obcaecati placeat quibusdam quidem similique ut veniam. Accusantium aliquid beatae corporis est nobis perferendis placeat, possimus sequi voluptatibus? Accusantium aperiam consequatur dolor dolorem doloremque ea eius eligendi est et iste laboriosam maxime minima nesciunt quaerat qui quidem quis, reiciendis tempore tenetur totam? Accusantium atque corporis delectus, dolores dolorum eveniet hic illum impedit inventore, iste itaque maiores modi nobis odit quaerat recusandae sint tenetur unde vero voluptate.</p>
					<p class="screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae delectus deleniti expedita maiores nobis quidem quisquam saepe sit! Alias aliquid corporis dolorum esse expedita fugit hic inventore, magni minima minus mollitia nemo obcaecati placeat quibusdam quidem similique ut veniam. Accusantium aliquid beatae corporis est nobis perferendis placeat, possimus sequi voluptatibus? Accusantium aperiam consequatur dolor dolorem doloremque ea eius eligendi est et iste laboriosam maxime minima nesciunt quaerat qui quidem quis, reiciendis tempore tenetur totam? Accusantium atque corporis delectus, dolores dolorum eveniet hic illum impedit inventore, iste itaque maiores modi nobis odit quaerat recusandae sint tenetur unde vero voluptate.</p>
					<i class="screen__close"></i>
				</div>
				<div id="chips" class="screen__info">
					<p class="screen__text">Error Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae delectus deleniti expedita maiores nobis quidem quisquam saepe sit! Alias aliquid corporis dolorum esse expedita fugit hic inventore, magni minima minus mollitia nemo obcaecati placeat quibusdam quidem similique ut veniam. Accusantium aliquid beatae corporis est nobis perferendis placeat, possimus sequi voluptatibus? Accusantium aperiam consequatur dolor dolorem doloremque ea eius eligendi est et iste laboriosam maxime minima nesciunt quaerat qui quidem quis, reiciendis tempore tenetur totam? Accusantium atque corporis delectus, dolores dolorum eveniet hic illum impedit inventore, iste itaque maiores modi nobis odit quaerat recusandae sint tenetur unde vero voluptate.</p>
					<p class="screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae delectus deleniti expedita maiores nobis quidem quisquam saepe sit! Alias aliquid corporis dolorum esse expedita fugit hic inventore, magni minima minus mollitia nemo obcaecati placeat quibusdam quidem similique ut veniam. Accusantium aliquid beatae corporis est nobis perferendis placeat, possimus sequi voluptatibus? Accusantium aperiam consequatur dolor dolorem doloremque ea eius eligendi est et iste laboriosam maxime minima nesciunt quaerat qui quidem quis, reiciendis tempore tenetur totam? Accusantium atque corporis delectus, dolores dolorum eveniet hic illum impedit inventore, iste itaque maiores modi nobis odit quaerat recusandae sint tenetur unde vero voluptate.</p>
					<i class="screen__close"></i>
				</div>
			</div>
		</div>
		<i class="stage__scroll"></i>
	</div>
	<div id="stage3" class="stage">
		<div class="stage__num">3</div>
		<div class="stage__text">
			<p class="stage-text">Для работы приложения требуется Интернет.<br />Голубой индикатор отображает процесс активации и подключения.</p>
			<span class="stage-text stage-text_trigger js-show-text">Подробнее</span>
			<p class="stage-text stage-text_more">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem dolore fugit hic nostrum nulla quae repellat saepe voluptatem voluptatibus! Accusamus adipisci aliquam aliquid autem consectetur consequuntur corporis cupiditate eaque eos, eveniet ex excepturi in ipsam maiores maxime natus neque non nulla numquam odit placeat possimus quisquam quo quod sed sint sunt temporibus tenetur veritatis voluptas. A laborum tenetur voluptate! Consectetur exercitationem itaque laborum minus nostrum perferendis quae totam! Asperiores at aut blanditiis cum dignissimos dolores dolorum eligendi enim id ipsam minima natus neque similique sint temporibus, tenetur ut! At delectus eum ex, laboriosam mollitia nesciunt quaerat qui tenetur vero.</p>
			<span class="stage-text stage-text_trigger stage-text_hide js-hide-text">Скрыть</span>
		</div>
		<p class="stage__help">
			<span class="stage__label">См. также:</span>
			<a href="#" class="stage__data" data-screen = "lottery1">Как работает лоттерея</a>
			<a href="#" class="stage__data" data-screen = "chips1">Купить больше фишек</a>
			<a class="stage__support fancybox" href="#form_small">Задать вопрос</a>
		</p>
		<div class="stage__content">
			<div class="screen screen_sign-up">
				<img src="/img/howToStart/screen/sign-up.jpg" alt="Internet connection"/>
				<div class="screen__item screen__item_1"><i class="tooltip tooltip_stage" title="<span>Статус подключения</span>Регистрироваться в Pokerist необязательно: вы сразу можете зайти как гость либо воспользоваться аккаунтом в Pokerist вы сразу можете зайти как гость либо воспользоваться Facebook-аккаунтом."></i></div>
				<div class="screen__item screen__item_2"><i class="tooltip tooltip_stage" title="<span>Статус подключения</span>Регистрироваться в Pokerist необязательно: вы сразу можете зайти как гость либо воспользоваться аккаунтом в Pokerist вы сразу можете зайти как гость либо воспользоваться Facebook-аккаунтом."></i></div>
				<div class="screen__item screen__item_3"><i class="tooltip tooltip_stage" title="<span>Статус подключения</span>Регистрироваться в Pokerist необязательно: вы сразу можете зайти как гость либо воспользоваться аккаунтом в Pokerist вы сразу можете зайти как гость либо воспользоваться Facebook-аккаунтом."></i></div>
				<div id="lottery1" class="screen__info">
					<p class="screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae delectus deleniti expedita maiores nobis quidem quisquam saepe sit! Alias aliquid corporis dolorum esse expedita fugit hic inventore, magni minima minus mollitia nemo obcaecati placeat quibusdam quidem similique ut veniam. Accusantium aliquid beatae corporis est nobis perferendis placeat, possimus sequi voluptatibus? Accusantium aperiam consequatur dolor dolorem doloremque ea eius eligendi est et iste laboriosam maxime minima nesciunt quaerat qui quidem quis, reiciendis tempore tenetur totam? Accusantium atque corporis delectus, dolores dolorum eveniet hic illum impedit inventore, iste itaque maiores modi nobis odit quaerat recusandae sint tenetur unde vero voluptate.</p>
					<p class="screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae delectus deleniti expedita maiores nobis quidem quisquam saepe sit! Alias aliquid corporis dolorum esse expedita fugit hic inventore, magni minima minus mollitia nemo obcaecati placeat quibusdam quidem similique ut veniam. Accusantium aliquid beatae corporis est nobis perferendis placeat, possimus sequi voluptatibus? Accusantium aperiam consequatur dolor dolorem doloremque ea eius eligendi est et iste laboriosam maxime minima nesciunt quaerat qui quidem quis, reiciendis tempore tenetur totam? Accusantium atque corporis delectus, dolores dolorum eveniet hic illum impedit inventore, iste itaque maiores modi nobis odit quaerat recusandae sint tenetur unde vero voluptate.</p>
					<i class="screen__close"></i>
				</div>
				<div id="chips1" class="screen__info">
					<p class="screen__text">Error Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae delectus deleniti expedita maiores nobis quidem quisquam saepe sit! Alias aliquid corporis dolorum esse expedita fugit hic inventore, magni minima minus mollitia nemo obcaecati placeat quibusdam quidem similique ut veniam. Accusantium aliquid beatae corporis est nobis perferendis placeat, possimus sequi voluptatibus? Accusantium aperiam consequatur dolor dolorem doloremque ea eius eligendi est et iste laboriosam maxime minima nesciunt quaerat qui quidem quis, reiciendis tempore tenetur totam? Accusantium atque corporis delectus, dolores dolorum eveniet hic illum impedit inventore, iste itaque maiores modi nobis odit quaerat recusandae sint tenetur unde vero voluptate.</p>
					<p class="screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae delectus deleniti expedita maiores nobis quidem quisquam saepe sit! Alias aliquid corporis dolorum esse expedita fugit hic inventore, magni minima minus mollitia nemo obcaecati placeat quibusdam quidem similique ut veniam. Accusantium aliquid beatae corporis est nobis perferendis placeat, possimus sequi voluptatibus? Accusantium aperiam consequatur dolor dolorem doloremque ea eius eligendi est et iste laboriosam maxime minima nesciunt quaerat qui quidem quis, reiciendis tempore tenetur totam? Accusantium atque corporis delectus, dolores dolorum eveniet hic illum impedit inventore, iste itaque maiores modi nobis odit quaerat recusandae sint tenetur unde vero voluptate.</p>
					<i class="screen__close"></i>
				</div>
			</div>
		</div>
		<i class="stage__scroll"></i>
	</div>
</div><!--/welcome -->