{% extends 'layouts/common.twig' %}
{% block content %}
<div class="inner-page">
	<div class="inner-page__header layout">
		<h2 class="inner-page__title">
			How to start play on Pokerist Texas Poker
			<i class="title-separator"></i>
		</h2>
		<p class="inner-page__text">Play with real people whenever and wherever you want. Just choose a table and get ready for tough competition! Make your own poker success story, and good luck at the poker tables!</p>
	</div>

	<div id ="menu_support" class="inner-page__menu layout">
		<div class="menu_support">
		    {% for scenario in scenarios %} 
			    {% set active = ''%}
			    {% if loop.index == 1 %}
				    {% set active = 'active' %}
			    {% endif %}
			    <a class="menu__item link {{ active }}" href="#{{ scenario.alias }}"><i class="icon"></i><span><b>{{ scenario.title }}</b></span></a>
		    {% endfor %} 
		</div>
	</div>
	<div class="inner-page__content layout">
		<div class="stage-list">
			<div class="stage-list__content">
				{% for scenario in scenarios %} 
				<div id="{{ scenario.alias }}" class="support-page">
					{% for scenario_step in scenario.scenario_steps %}
						<div class="stage">
							<div class="stage__num">{{ scenario_step.number }}</div>
							
							
							<div class="stage__text">
								<p class="stage-text">{{ scenario_step.title }}</p>
								{% if scenario_step.description is not empty %}
									<span class="stage-text stage-text_trigger js-show-text">Подробнее</span>
									<div class="stage-text stage-text_more">{{ scenario_step.description }}</div>
									<span class="stage-text stage-text_trigger stage-text_hide js-hide-text">Скрыть</span>
								{% endif %}
							</div>
							
							
							{% if scenario_step.scenario_links|length != 0 %} 
								<div class="stage__help">
									<span class="stage__label">См. также:</span>
									{% for scenario_link in scenario_step.scenario_links %}    
										<a href="#" class="stage__data" data-screen="{{ scenario.alias ~ scenario_link.id  }}">{{ scenario_link.title }}  </a>
									{% endfor %}
									<a class="stage__support fancybox" href="#form_big">Задать вопрос</a>
								</div>
							{% endif %}
							
							
							<div class="stage__content">
								<div class="screen screen_sign-up">
									{% for scenario_image in scenario_step.scenario_images %} 
									    {% if scenario_image.type == 1 %}
										<img class='screen__img lazy' data-src="{{ App.urlManager.staticHost ~ scenario_image.url }}" src="" alt=""/>
									    {% endif %}
									{% endfor %}

									{% for scenario_point in scenario_step.scenario_points %} 
										<div data-x='{{scenario_point.x}}' data-y='{{scenario_point.y}}' class="screen__item"><i class="tooltip tooltip_stage" title="<span>{{scenario_point.title}}</span>{{scenario_point.content}}"></i></div>
									{% endfor %}
										
										
									{% for scenario_link in scenario_step.scenario_links %} 
										<div id="{{ scenario.alias ~ scenario_link.id  }}" class="screen__info">
											<p class="screen__text">{{ scenario_link.content }}</p>
											<i class="screen__close"></i>
										</div>
									{% endfor %}
								</div>
							</div>
							<i class="stage__scroll"></i>
						</div>
					{% endfor %}
				    </div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div id="form_big">
		{{ include('feedback/feedback.twig', {message: message}) }}
	</div>
	<div id="form_small">
		{{ include('feedback/feedback_small.twig', {message: message}) }}
	</div>
</div>
	{{ include('common/footer.twig') }}

{% endblock %}
