{% set error = form.error(model, field, {class: 'help-block'}) %}

<div class="form__row  {{ error is not empty? 'error': '' }}">
    <div class="form__field form__field_inline">
        {{ form.checkBox(model, field, htmlOptions) }}
        {#{{ error }}#}
    </div>
	{{ form.labelEx(model, field, {class: 'form__label form__label_checkbox'}) }}
</div>
