{#{% set error = form.error(model, field, {class: 'help-block'}) %}#}

{#<div class="form__row  {{ error is not empty? 'error': '' }}">#}
    {#{{ form.labelEx(model, field, {class: 'form__label form__label_input'}) }}#}
    {#<div class="form__field">#}
        {#{{ form.emailField(model, field, htmlOptions) }}#}
        {#&#123;&#35;{{ error }}&#35;&#125;#}
    {#</div>#}
{#</div>#}

<div class="form__row">
	<label class="form__label" for="">Email</label>
	<div class="form__field">
		<input type="email" name="email" id="email"/>
	</div>
	<div class="form__tooltip"><i class="tooltip tooltip_form" title="Регистрироваться в Pokerist необязательно: вы сразу можете зайти как гость либо воспользоваться аккаунтом в Pokerist вы сразу можете зайти как гость либо воспользоваться Facebook-аккаунтом."></i></div>
</div>