{#{% set error = form.error(model, field, {class: 'help-block'}) %}#}

{#<div class="form__row  {{ error is not empty? 'error': '' }}">#}
    {#{{ form.labelEx(model, field, {class: 'form__label form__label_input'}) }}#}
    {#<div class="form__field">#}
        {#{{ form.emailField(model, field, htmlOptions) }}#}
        {#&#123;&#35;{{ error }}&#35;&#125;#}
    {#</div>#}
{#</div>#}

<div class="form__row">
	<label class="form__label" for="">Игра</label>
	<div class="form__field">
		<select name="game" id="game">
			<option value="">Pokerist</option>
		</select>
	</div>
</div>