{#{% set error = form.error(model, field, {class: 'help-block'}) %}#}

{#<div class="form__row  {{ error is not empty? 'error': '' }}">#}
    {#{{ form.labelEx(model, field, {class: 'form__label form__label_input'}) }}#}
    {#<div class="form__field">#}
        {#{{ form.textField(model, field, htmlOptions) }}#}
        {#{{ error }}#}
    {#</div>#}
{#</div>#}

<div class="form__row">
	<label class="form__label" for="">Name</label>
	<div class="form__field">
		<input type="text" name="Name" id="Name"/>
	</div>
	<div class="form__tooltip"><i class="tooltip tooltip_form" title="Регистрироваться в Pokerist необязательно: вы сразу можете зайти как гость либо воспользоваться аккаунтом в Pokerist вы сразу можете зайти как гость либо воспользоваться Facebook-аккаунтом."></i></div>
</div>

