/*
Error: Undefined mixin 'after'.
        on line 9 of /opt/local/www/work/newpokerist.dev/public/css/sass/modules/features.scss, in `after'
        from line 9 of /opt/local/www/work/newpokerist.dev/public/css/sass/modules/features.scss

4: 
5: #{$b} {
6: 	position: relative;
7: 	height: 100%;
8: 
9: 	@include after {
10: 		height: 100%;
11: 		background: url('/img/getTheApp/feature/cosplay.png');
12: 		height: image-height('/getTheApp/feature/cosplay.png');
13: 		width: image-width('/getTheApp/feature/cosplay.png');
14: 		background-repeat: no-repeat;

Backtrace:
/opt/local/www/work/newpokerist.dev/public/css/sass/modules/features.scss:9:in `after'
/opt/local/www/work/newpokerist.dev/public/css/sass/modules/features.scss:9
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:332:in `block in visit_mixin'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/stack.rb:98:in `with_mixin'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:330:in `visit_mixin'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/stack.rb:79:in `with_base'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:414:in `block (2 levels) in visit_rule'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:414:in `map'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:414:in `block in visit_rule'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/stack.rb:79:in `with_base'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/tree/root_node.rb:20:in `render'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/engine.rb:268:in `render'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1@global/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1@global/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1@global/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1@global/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1@global/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1@global/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1@global/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1@global/gems/compass-1.0.1/bin/compass:44:in `call'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1@global/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/bin/compass:23:in `load'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/bin/compass:23:in `<main>'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Work-nekki/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'after'.\A         on line 9 of /opt/local/www/work/newpokerist.dev/public/css/sass/modules/features.scss, in `after'\A         from line 9 of /opt/local/www/work/newpokerist.dev/public/css/sass/modules/features.scss\A \A 4: \A 5: #{$b} {\A 6: 	position: relative;\A 7: 	height: 100%;\A 8: \A 9: 	@include after {\A 10: 		height: 100%;\A 11: 		background: url('/img/getTheApp/feature/cosplay.png');\A 12: 		height: image-height('/getTheApp/feature/cosplay.png');\A 13: 		width: image-width('/getTheApp/feature/cosplay.png');\A 14: 		background-repeat: no-repeat;"; }
