/******************************** screenshot ********************************/
.screenshots {
  padding: 25px 143px 0 138px;
  background: url("/img/getTheApp/screenShots/phone.png");
  height: 421px;
  width: 941px;
  border: none;
}
.screenshots .flex-control-nav, .screenshots .flex-direction-nav {
  display: none;
}

.screenshots__bg_1 {
  position: absolute;
  top: -36px;
  left: -251px;
  background: url("/img/getTheApp/screenShots/bg_left.png");
  height: 524px;
  width: 616px;
}

.screenshots__bg_2 {
  position: absolute;
  top: -132px;
  right: -239px;
  background: url("/img/getTheApp/screenShots/bg_right.png");
  height: 542px;
  width: 746px;
}
